    <!-- footer--> 
     <!-- Contact Details--> 
   <div class="section14 gray-bg">
       <div class="container">
       <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="fool-box wow fadeInDown" data-wow-duration="1s">
                <i class="icofont icofont-download-alt"></i>
                <div class="footer-box-content">
	                <h4>Download now </h4>
    	            <p>Sign up and download instant 
software to get started now</p>
					<a href="#" class="acc">download</a>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="fool-box wow fadeInDown" data-wow-duration="2s">
                <i class="icofont icofont-phone"></i>
                <div class="footer-box-content">
	                <h4>Call us</h4>
    	            <p>If you have any quesry about ProSoft, please Call us on</p>
					<a href="#" class="">+91 123 456 7890</a>
                </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4">
             <div class="fool-box wow fadeInDown" data-wow-duration="2s">
                <i class="icofont icofont-comment"></i>
                <div class="footer-box-content">
	                <h4>Chat with us</h4>
    	            <p>If you need live support, chat with 
our technical team now</p>
					<a href="#" class="acc">Chat now</a>
                </div>
             </div>
          </div>
          <!-- Contact Details End-->
        </div>
      </div>
      
		<div class="last-footer">
        	<div class="container">
				<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            	<div class="footer-copy">
		            <p>© Copyright 2019 Swiftcodeit Designed by <a href="sasrayi.com" target="_blank"> Sasrayi  </a></p>
                </div>
			</div>
           	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="foot-social">
               <a href="https://www.facebook.com/"><i class="icofont icofont-social-facebook"></i></a>
               <a href="https://www.twitter.com/"><i class="icofont icofont-social-twitter"></i></a>
               <a href="https://aboutme.google.com"><i class="icofont icofont-social-google-plus"></i></a>
               <a href="https://www.pinterest.com/"><i class="icofont icofont-social-pinterest"></i></a>
               <a href="https://www.youtube.com/"><i class="icofont icofont-social-youtube-play"></i></a>
            </div>
            </div>
            	</div>
			</div>
		</div>
    </div>   
     
     
     <!-- footer End-->     

	<script src="/frontend/js/jquery-1.9.1.min.js"></script> 													<!-- For screen gallery tab -->
    <script src="/frontend/js/jquery.min.js"></script>														<!-- librery --> 
    <script src="/frontend/js/bootstrap.min.js"></script>														<!-- bootstrap --> 
    <script src="/frontend/js/jquery.bxslider.min.js"></script>												<!-- For Logos Slider --> 
    <script src="/frontend/js/slick.js" type="text/javascript" charset="utf-8"></script>						<!-- For Testimonial Slider --> 
	<script type="text/javascript" src="/frontend/js/jquery.fancybox.pack.js"></script>						<!-- For Video Pop up --> 
    <script type="text/javascript" src="/frontend/js/modernizr.custom.53451.js"></script>						<!-- For Screenshot Details --> 
    <script type="text/javascript" src="/frontend/js/jquery.gallery.js"></script>								<!-- For Screenshot Details --> 
    <script src="/frontend/js/easyResponsiveTabs.js"></script>												<!-- For screen gallery tab -->
    <script src="/frontend/js/wow.min.js"></script>															<!--Wow animation js -->
    
    <script src="/frontend/js/retina.js"></script>                      <!-- Retina js -->
	<script src="/frontend/js/retina.min.js"></script>                  <!-- Retina js -->

    <script>
	$(document).ready(function(){
		
	//Screenshot in details slider ==============================================
		
	$(function() {
		$('#dg-container').gallery();
		});
			
			
	//Testimonials slider ==============================================
	
	$(".center").slick({
	dots: true,
    infinite: true,
    centerMode: true,
    slidesToShow: 3,
    slidesToScroll: 1,
	responsive: [
	{
    breakpoint:600,
	settings: {
    mobileFirst: true,
	slidesToShow: 1,
    }
    }
    ]
    });
	  
	// Logo Slider ==============================================

	$('.slider1').bxSlider({
    slideWidth: 260,
    minSlides: 2,
    maxSlides: 4,
    slideMargin: 10,
	});
  
  
  	//Responsive Menu ==============================================

  	$("#menu-icon").click(function(){$("#menu").slideToggle("slow");});


	// Video popup ==============================================
	
	$(".various").fancybox({
        type: "iframe", //<--added
        maxWidth: 800,
        maxHeight: 600,
        fitToView: false,
        width: '70%',
        height: '70%',
        autoSize: false,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'
    });


	// Number Count for Our strong numbers ==============================================
	
	$('.count').each(function () {
    	$(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    	});
	});


	// Scroll to Section ==============================================

    $('a[href^="#"]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if( target.length ) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1000);
        }
    });
	});


	// Animate loader off screen ==============================================

	$(window).load(function() {
		
		$(".se-pre-con").fadeOut("slow");;
	});	
	
	
	// Wow animation ==============================================
	new WOW().init();
	
	
	// screen gallery tab ==============================================
	
	$(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

    });
	
    
</script>
 

  </body>
<!-- Copied from http://kalanidhithemes.com/live-preview/landing-page/prosoft-software-landing-page-html/white-hero/index.html by Cyotek WebCopy 1.6.0.553, Monday, April 29, 2019, 11:45:57 AM -->
</html>