<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="One Page Corporate HTML Template">
    <meta name="author" content="">
    <link rel="icon" href="/frontend/images/sasrayi-logo.png">
    
    <!-- Title -->
    <title>Sasrayi || Home </title>
    
    <!-- Necessary CSS Files -->
    <!-- <link href="/frontend/https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet"> Google Font -->
    <link href="/frontend/css/bootstrap.min.css" rel="stylesheet">												<!-- bootstrap  -->
    <link href="/frontend/css/style.css" rel="stylesheet">														<!-- Template Main css  -->
    <link href="/frontend/css/jquery.bxslider.css" rel="stylesheet">											<!-- Client Logo Slider  -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/slick.css">										<!-- Testimonial Slider -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/slick-theme.css">									<!-- Testimonial Slider -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/jquery.fancybox.css" media="screen">				<!-- Video Popup -->
    <link rel="stylesheet" href="/frontend/css/animate.css">														<!-- Wow Animation CSS -->

	<!--RESPONSIVE TAB -->
        <link rel="stylesheet" type="text/css" href="/frontend/css/easy-responsive-tabs.css">
    
  </head>
  <body>
  <div class="se-pre-con"></div>
  <!-- header -->
    <div class="header" id="header">
       <div class="container">
          <div class="row header-top" data-spy="affix" data-offset-top="70">
            <div class="container">
      				<div class="row">
                   <div class="col-lg-3 col-md-3">
                     <div class="logo"><a href="#"><img src="/frontend/images/sasrayi-logo.png" alt="logo"></a></div>
                       <div id="menu-icon"><span></span><span></span><span></span></div>
                       <div class="clear"></div>

                   </div>
                   <div class="col-lg-9 col-md-9" id="menu">
                     <div class="menu">
                        <ul>
                          <li><a href="#header">Home</a></li>
                          <li><a href="#features">Features</a></li>
                          <li><a href="#video">Video</a></li>
                          <li><a href="#screens">Screens</a></li>
                          <li><a href="#testimonials">Testimonials</a></li>
                          <!-- <li><a href="#pricing">Pricing</a></li> -->
                          <li><a href="#team">Team</a></li>
                          <li><a href="#blog">Blog</a></li>
                          <li><a href="/login">Login</a></li>
                          <li><a href="/register">Sign Up</a></li>
                          <!-- <li><a href="#freetrial">Free Trial</a></li> -->

                        </ul>
                     </div>
                   </div>
              </div>
    			 </div>

          </div>
          
          <div class="row">
             <div class="col-lg-12">
                <h1 class="wow fadeInDown">Best software landing page<br>
to grow your business</h1>
                <p class="wow fadeInDown">Lorem Ipsum is simply dummy text of the printing and typesetting indus orem Ipsum  </p>
                <div class="bnts wow fadeInUp">
                   <a href="http://192.168.0.104:8200/register" class="btn2">Free Register Now</a>
                </div>
             </div>
          </div>
          
          <div class="row">
            <div class="col-lg-12">
              <div class="toping wow fadeInUp">
                <img class="img-responsive cenetr-block" src="/frontend/images/sasrayi-topimg.png" alt="hero-image">
              </div>
            </div>
          </div>
       </div>
    </div>
   <!-- header End-->

