 <%- include('head') %>
   
 	<!-- features -->
     <div class="section2 dark-section dark-color-bg" id="features">
       <div class="container">
          <div class="row">
          <div class="col-lg-12">
             <div class="heading">
                <span>features</span>
                <h2>Best features Sasrayi</h2>
             </div>
          </div>
          </div>
          <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 module">
             <div class="f-box wow fadeInUp" data-wow-duration="1s">
               <div class="f-img"><img src="/frontend/images/icon1.png" alt="f1"></div>
               <a href="#">Friendly Admin</a>
               <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standard.</p>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-6 module">
             <div class="f-box wow fadeInUp" data-wow-duration="2s">
               <div class="f-img"><img src="/frontend/images/icon2.png" alt="f2"></div>
               <a href="#">Well Documented</a>
               <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standard.</p>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-6 module">
             <div class="f-box wow fadeInUp" data-wow-duration="3s">
               <div class="f-img"><img src="/frontend/images/icon3.png" alt="f3"></div>
               <a href="#">Highly Customizable</a>
               <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standard.</p>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-6 module">
             <div class="f-box wow fadeInUp" data-wow-duration="3s">
               <div class="f-img"><img src="/frontend/images/icon4.png" alt="f4"></div>
               <a href="#">Free Download</a>
               <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standard.</p>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-6 module">
             <div class="f-box wow fadeInUp" data-wow-duration="3s">
               <div class="f-img"><img src="/frontend/images/icon5.png" alt="f5"></div>
               <a href="#">Responsive Design</a>
               <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standard.</p>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-6 module">
             <div class="f-box wow fadeInUp" data-wow-duration="3s">
               <div class="f-img"><img src="/frontend/images/icon6.png" alt="f6"></div>
               <a href="#">Secure</a>
               <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standard.</p>
             </div>
          </div>
          
          
          </div>
       </div>
       </div>
	<!-- features End-->
 
 	<!-- Sign Up -->
<!--     <div class="section1 gray-bg">
       <div class="container">
          <div class="row">
            <div class="col-lg-12">
               <div class="search-sec">
                  <span>Let’s start</span>
                  <h2>Sign up for free trial</h2>
               </div>
            </div>
          </div>
          
          <div class="row">
              <div class="col-lg-12">
                <div class="grop">
                
                <div class="input-group">
                  <input type="text" class="form-control text1" placeholder="Your Name">
                  <input type="text" class="form-control text2" placeholder="Your Email">
                  <button class="btn btn-secondary" type="button">start your free trial</button>
                  
                </div>
                
                <p>Create Your <a href="#">FREE</a> Account Now & Get 30 days FREE trial. No credit card required</p>
                </div>
              </div>
          </div>
       </div>
    </div> -->   
 	<!-- start End-->
    
    <!-- Description Two Colom-->  
    <div class="section6">
       <div class="container">

            
          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 module">
          	<div class="content-area">
               <div class="left-heading">
                 <span> <img class="wow fadeInDown" src="/frontend/images/eq-icon.png" alt="icon-image"></span>
                 <h2 class="wow fadeInUp">Beautiful Dashboard Sasrayi</h2>
               </div>
               <p class="wow fadeInUp">Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text ever since the when Lorem Ipsum is simply.
               </p>
				
                <div class="nomber-text wow fadeInUp">
                  <div class="nomber-text-row">
                     <div class="nomber-text-row-inner">
                       <span>1. Clean Code</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p>
                     </div>
                     <div class="clear"></div>
                  </div>
                  
                  <div class="nomber-text-row">
                     <div class="nomber-text-row-inner">
                       <span>2. Bootstrap 3 framwork</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p>
                     </div>
                     <div class="clear"></div>
                  </div>
                  
                  <div class="nomber-text-row">
                     <div class="nomber-text-row-inner">
                       <span>3. Creative user interface</span>
                       <p>Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text</p>
                       <p>
                     </div>
                     <div class="clear"></div>
                  </div>
                  
                </div>

               <a href="#" class="acc wow fadeInUp">Create  Free Sasrayi account</a>
			</div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 module">
          	<div class="img3">
                <img class="img-responsive wow fadeInRight" src="/frontend/images/sasrayi-dashboard.png" alt="icon-image">
             </div>
          </div>
        </div>
      </div>
      </div>  
  	<!-- Description End--> 
  
  <!-- Why us - Statistics--> 
  <div class="section5 dark-section dark-color-bg">
       <div class="container">
          <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="heading">
                  <span>why us ?</span>
                  <h2>Our strong numbers</h2>
               </div>
          </div>
      </div>
      
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 module">
             <div class="our-box">
                <img src="/frontend/images/download.png" alt="download">
                <div class="down-box">
                  <div class="cnt"><h3 class="count">20</h3><h4>K</h4></div>
                  <span>Downloaded</span>
                </div>
                
             </div>
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-3 module">
             <div class="our-box">
                <img src="/frontend/images/smile.png" alt="smile">
                <div class="down-box">
                  <div class="cnt"><h3 class="count">50</h3><h4>K</h4></div>
                  <span>Happy customers</span>
                </div>
                
             </div>
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-3 module">
             <div class="our-box">
                <img src="/frontend/images/users.png" alt="users">
                <div class="down-box">
                  <div class="cnt"><h3 class="count">33</h3><h4>K</h4></div>
                  <span>Return customers</span>
                </div>
                
             </div>
          </div>
          
          <div class="col-lg-3 col-md-3 col-sm-3 module">
             <div class="our-box">
                <img src="/frontend/images/users.png" alt="customer">
                <div class="down-box">
                  <div class="cnt"><h3 class="count">33</h3><h4>K</h4></div>
                  <span>Return customers</span>
                </div>
                
             </div>
          </div>
          </div>
    </div>
  </div>  
  <!-- why us End--> 
    
	<!-- Video --> 
    <div class="section4 gray-bg" id="video">
       <div class="container">
          <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 module">
               <div class="heading">
                  <span>video</span>
                  <h2>Watch our video presentation</h2>
               </div>
               <p>Lorem Ipsum is simply dummytext the printing and typeseing industry Lorem Ipsum has been standard.<br>
dummy text ever since the when an Lorem Ipsum is simply dummytext</p>

            <div class="mac">
              <a href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1" class="various fancybox"><img src="/frontend/images/play-btn.png" alt="play-btn"></a>
            </div>
            <div class="video-section-image wow fadeInUp"> <img class="img-responsive" src="/frontend/images/video-section-image.png" alt="video-screens"> 
            </div>
          </div>
       </div>
     </div>
   </div> 
	<!-- video End--> 
    
  	<!-- Description Two Colom--> 
      <div class="section3">
       <div class="container">
          <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-5 col-md-push-7">
             <div class="left-heading">
                <span> <img src="/frontend/images/pc.png" alt="secton-image"></span>
                <h2>Beautyful Our All features</h2>
                <p class="p">
                Lorem Ipsum is simply dummy text the printing and type
seing industry Lorem Ipsum has been standarddummy text ever since the when Lorem Ipsum is simply dummy text the printing and typeseing Lorem.
                </p>
                <div class="clear"> </div>
                <a href="http://sasrayi.com/register" class="acc">Create your Free Sasrayi  account</a>

             </div>
          </div> 
          
          <div class="col-xs-12 col-sm-12 col-md-7 col-md-pull-5">
             <div class="two-colom-imag">
                <img class="img-responsive" src="/frontend/images/img1.png" alt="img1">
             </div>
          </div>
          
                 
        </div>
      </div>
      </div>  
    <!-- Description End-->   
     
	<!-- Description Two Colom--> 
      <div class="section-two-colom">
       <div class="container">
          <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 ">
             <div class="content-area-second">
             	<div class="left-heading">
                <span> <img src="/frontend/images/system-icon.png" alt="system-icon"></span>
                <h2>Real time systems</h2>
                </div>
                <p class="p">
               Lorem Ipsum is simply dummy text the printing and typeseing industry Lorem Ipsum has been standarddummy text ever since ting and typeseing <strong class="highlited-text">Hightlight Text </strong>industry Lorem Ipsum has been standarddummy text ever since the when. Lorem Ipsum is simply dummy text the printing and typeseing.Lorem Ipsum has been standarddummy text ever since the when an Lorem.
				<div class="clear"> </div>
                
                </p>
                <a href="http://sasrayi.com/register" class="acc">Create your Sasrayi account</a>
             </div>
          </div>
          
          <div class="col-xs-12 col-sm-12 col-md-7 ">
             <div class="two-colom-image-right wow fadeInRight">
                <img class="img-responsive" src="/frontend/images/system-img.png" alt="img1">
             </div>
		</div>
          
        </div>
      </div>
      </div>  
    <!-- Description End--> 
    
	<div class="screen-section dark-section dark-color-bg" id="screens">
    	<div class="container">
		<div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="heading">
                  <span>Previews</span>
                  <h2>Screenshot in details</h2>
               </div>
          </div>
        </div>
        <div class="pro_det_tab_main">
            <div id="parentHorizontalTab">
                <ul class="resp-tabs-list hor_1">
                    <li>Dashboard</li>
                    <li>Meal Details</li>
                    <li>Bazar Details</li>
                    <li>Monthly Calculation</li>
                    <li>Member Details</li>
                    <li>Fixed Cost Example</li>
                </ul>
                <div class="resp-tabs-container hor_1">
                    <div>
                        <p><!--vertical Tabs-->
                        </p>
                        <img class="tab-screen-image" src="/frontend/images/sasrayi-topimg.png" alt="screen-image">
                        
                    </div>
                    <div>
                       <img class="tab-screen-image" src="/frontend/images/sasrayi-meal-details.png" alt="screen-image">
    
                    </div>
                    <div>
                        <img class="tab-screen-image" src="/frontend/images/sasrayi-bazar-details.png" alt="screen-image">
                    </div>
                    <div>
                        <p>
                            <!--vertical Tabs-->
    
                            
                        </p>
                        <img class="tab-screen-image" src="/frontend/images/sasrayi-monthly-calculation.png" alt="screen-image">
                    </div>
                    <div>
                        <p>
                            <!--vertical Tabs-->
    
                            
                        </p>
                        <img class="tab-screen-image" src="/frontend/images/sasrayi-members.png" alt="screen-image">
                    </div>
                      <div>
                        <img class="tab-screen-image" src="/frontend/images/sasrayi-fixed-cost-details.png" alt="screen-image">
                    </div>
                </div>
            </div>
        </div>
		</div>
    </div>
    
      
  <!-- Screens--> 
     <div class="section7 dark-section" id="screens" style="display:none;">
       <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="heading">
                  <span>Previews</span>
                  <h2>Screenshot in details</h2>
               </div>
          </div>
        </div>  
          <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
             <div id="dg-container" class="dg-container">
				<div class="dg-wrapper">
					<a href="#"><img src="/frontend/images/screen1.png" alt="image01"></a>
					<a href="#"><img src="/frontend/images/screen2.png" alt="image01"></a>
					<a href="#"><img src="/frontend/images/screen3.png" alt="image01"></a>

                 </div>
                 <nav>	
					<span class="dg-prev"><img src="/frontend/images/left.png"></span>
					<span class="dg-next"><img src="/frontend/images/right.png"></span>
				</nav>
               </div>     
          </div>
        </div>
      </div>
    </div>  
    <!-- screens End-->   
    
  <!-- Testimonials--> 
     <div class="section8" id="testimonials">
       <div class="con">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="heading">
                  <span>Testimonials</span>
                  <h2>Thousands of smiles</h2>
               </div>
          </div>
      </div>
      </div>
      <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">    
    
            <section class="center slider">
            
                        <div>
                          <div class="li">
                         <div class="photo"><img src="/frontend/images/u1.png" alt="user-pic"></div>
                           <div class="slide1">
                            
                             <p>Lorem Ipsum is simply dummy text of the printing and typing indus try Lorem Ipsum has been the indus
                    try's standard dummy text Lorem is simply dummy text of the 
                    printing and typeseing industry. Lorem</p>
                      <span>- Devil Jhon</span>
                           </div> 
                           </div>
                        </div>
                        
                        <div>
                        <div class="li">
                         <div class="photo"><img src="/frontend/images/u2.png" alt="user-pic"></div>
                           <div class="slide1">
                            
                             <p>Lorem Ipsum is simply dummy text of the printing and typing indus try Lorem Ipsum has been the indus
                    try's standard dummy text Lorem is simply dummy text of the 
                    printing and typeseing industry. Lorem</p>
                      <span>- Simmy Ilona</span>
                           </div> 
                           </div>
                        </div>
            
                        <div>
                        <div class="li">
                         <div class="photo"><img src="/frontend/images/u3.png" alt="user-pic"></div>
                           <div class="slide1">
                            
                             <p>Lorem Ipsum is simply dummy text of the printing and typing indus try Lorem Ipsum has been the indus
                    try's standard dummy text Lorem is simply dummy text of the 
                    printing and typeseing industry. Lorem</p>
                      <span>- Sam Tikota</span>
                           </div> 
                           </div>
                        </div>
                        
            
                        <div>
                          <div class="li">
                         <div class="photo"><img src="/frontend/images/u1.png" alt="user-pic"></div>
                           <div class="slide1">
                            
                             <p>Lorem Ipsum is simply dummy text of the printing and typing indus try Lorem Ipsum has been the indus
                    try's standard dummy text Lorem is simply dummy text of the 
                    printing and typeseing industry. Lorem</p>
                      <span>- Devil Jhon</span>
                           </div> 
                           </div>
                        </div>
                        
                        <div>
                        <div class="li">
                         <div class="photo"><img src="/frontend/images/u2.png" alt="user-pic"></div>
                           <div class="slide1">
                            
                             <p>Lorem Ipsum is simply dummy text of the printing and typing indus try Lorem Ipsum has been the indus
                    try's standard dummy text Lorem is simply dummy text of the 
                    printing and typeseing industry. Lorem</p>
                      <span>- Simmy Ilona</span>
                           </div> 
                           </div>
                        </div>
            
                        <div>
                        <div class="li">
                         <div class="photo"><img src="/frontend/images/u3.png" alt="user-pic"></div>
                           <div class="slide1">
                            
                             <p>Lorem Ipsum is simply dummy text of the printing and typing indus try Lorem Ipsum has been the indus
                    try's standard dummy text Lorem is simply dummy text of the 
                    printing and typeseing industry. Lorem</p>
                      <span>- Sam Tikota</span>
                           </div> 
                           </div>
                        </div>
                        
                        
                        
  </section> 
    
       </div>
     </div>
   </div>
 </div>
  <!-- testimonials End--> 
  
  
   
  <!-- Pricing--> 
<!--        <div class="section9 dark-section " id="pricing">
    			<div class="pricing-bg dark-color-bg">
                </div>
           <div class="container">
           
      		  <div class="pricing-inner-container">
                <div class="col-lg-12 col-md-12 col-sm-12">
                     <div class="heading">
                        <span>our pricing</span>
                        <h2>Best plans for you</h2>
                     </div>
                </div>
                
                <div class="pricing-boxes">
                	
                <div class="col-lg-4 col-md-4 col-sm-4 pos module">
                   <div class="plan wow fadeInUp" data-wow-duration="1s">
                      <div class="plan-ttl">
                           <span>Basic Plan</span>
                           <h3><strong class="currency-sign">$</strong>199<strong class="plan-time">/mo</strong></h3>
                      </div>
                      
                       <ul>
                         <li class="yes"><span>Limited Indtall</span></li>
                         <li class="yes"><span>Unlimited Downlaod</span></li>
                         <li class="yes"><span>Free One Year Support</span></li>
                         <li class="no"><span>Free 15GB Linux Hosing</span></li>
                         <li class="no"><span>30GB Storage</span></li>

                       </ul>
                       <div class="plan-btn"><a href="#">choose plan</a></div>
                   </div> 
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 pos module">
                   <div class="plan wow fadeInUp" data-wow-duration="2s">
                      <div class="plan-ttl prefered">
                           <span>Silver Plan</span>
                           <h3><strong class="currency-sign">$</strong>49<strong class="plan-time">/mo</strong></h3>
                      </div>
                      
                       <ul>
                         <li class="yes"><span>Limited Indtall</span></li>
                         <li class="yes"><span>Unlimited Downlaod</span></li>
                         <li class="yes"><span>Free One Year Support</span></li>
                         <li class="no"><span>Free 15GB Linux Hosing</span></li>
                         <li class="no"><span>30GB Storage</span></li>

                       </ul>
                       <div class="plan-btn sil-btn"><a href="#">choose plan</a></div>
                   </div> 
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-4 pos module">
                   <div class="plan wow fadeInUp" data-wow-duration="3s">
                      <div class="plan-ttl">
                           <span>Gold Plan</span>
                           <h3><strong class="currency-sign">$</strong>99<strong class="plan-time">/mo</strong></h3>
                      </div>
                      
                       <ul>
                         <li class="yes"><span>Limited Indtall</span></li>
                         <li class="yes"><span>Unlimited Downlaod</span></li>
                         <li class="yes"><span>Free One Year Support</span></li>
                         <li class="no"><span>Free 15GB Linux Hosing</span></li>
                         <li class="no"><span>30GB Storage</span></li>

                       </ul>
                       <div class="plan-btn"><a href="#">choose plan</a></div>
                   </div> 
                </div>
              </div>
            </div>
      		
            
          </div>
      </div>  -->   
 <!-- pricing End-->  
 
 <!-- Team--> 
   <div class="section10" id="team">
       <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading">
                  <span>our experts</span>
                  <h2>Innovative team</h2>
               </div>
          </div>
       </div>
       
       <div class="row pdtop2">
          <div class="col-lg-4 col-md-4 col-sm-4 module">
             <div class="team-box wow fadeIn" data-wow-duration="1s">
               <div class="team-photo"><img src="/frontend/images/team-1.jfif" alt="team-image"></div>
               <div class="team-ttl">
                 <span>Jhon Due</span>
                 <p>Founder & CEO</p>
               </div>
               <div class="team-con">
               <p>
               Lorem Ipsum is simply dummy text of the printing and typeseing industry
 Lorem Ipsum has been the 

               </p>
               </div>
               
               <div class="team-info">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>

               </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4 module">
             <div class="team-box wow fadeIn" data-wow-duration="2s">
               <div class="team-photo"><img src="/frontend/images/team-2.jfif" alt="team-image"></div>
               <div class="team-ttl">
                 <span>Denial Smith</span>
                 <p>Chief Developer</p>
               </div>
               <div class="team-con">
               <p>
               Lorem Ipsum is simply dummy text of the printing and typeseing industry
 Lorem Ipsum has been the industrys 
               </p>
               </div>
               
               <div class="team-info">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>

               </div>
             </div>
          </div>
          
          <div class="col-lg-4 col-md-4 col-sm-4 module">
             <div class="team-box wow fadeIn" data-wow-duration="3s">
               <div class="team-photo"><img src="/frontend/images/team-3.jfif" alt="team-image"></div>
               <div class="team-ttl">
                 <span>Andy sara</span>
                 <p>UI Designer</p>
               </div>
               <div class="team-con">
               <p>
               Lorem Ipsum is simply dummy text of the printing and typeseing industry
 Lorem Ipsum has been the
               </p>
               </div>
               
               <div class="team-info">
                  <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                  <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                  <a href="#"><i class="icofont icofont-social-google-plus"></i></a>

               </div>
             </div>
          </div>
      </div>  
     </div>
   </div> 
  <!-- team End-->  
  
  <!-- Blog--> 
   <div class="section16 gray-bg" id="blog">
       <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading">
                  <span>Latest updates</span>
                  <h2>Our Blog</h2>
               </div>
          </div>
       </div>
       
       <div class="row pdtop2">
          <div class="col-lg-6 col-md-6 col-sm-6 module">
             <div class="h-blog-box wow fadeInDown" data-wow-duration="1s">
               <div class="h-blog-box-photo"><img src="/frontend/images/blog-images/bph1.jfif" alt="blog-image"></div>
               <div class="h-blog-content">
                   <div class="h-blog-date">10 NOV, 2017
                   </div>
                   <div class="h-blog-ttl">
                   <h2> Some beautyful blog title goes here lorem ipsum </h2>
                   </div>
                   <div class="h-blog-more">
                   <a href="/frontend/blog-list-classic-with-sidebar.htm">Read More » </a>
                   </div>
               </div>
              
             </div>
          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6 module">
             <div class="h-blog-box wow fadeInDown" data-wow-duration="2s">
               <div class="h-blog-box-photo"><img src="/frontend/images/blog-images/bph2.jfif" alt="blog-image"></div>
               <div class="h-blog-content">
                   <div class="h-blog-date">10 NOV, 2017
                   </div>
                   <div class="h-blog-ttl">
                   <h2> Best sofware for your admin control Some beautyful.</h2>
                   </div>
                   <div class="h-blog-more">
                   <a href="/frontend/blog-single-post-with-sidebar.htm">Read More » </a>
                   </div>
               </div>
             </div>
          </div>
          
          
      </div>  
     </div>
   </div> 
  <!-- blog End-->  
  
 <!-- Get Download Link--> 
   <div class="section11 dark-section">
       <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="heading">
                  <span>are you ready ?</span>
                  <h2>Lest start yor project now</h2>
               </div>
               <p>
             Lorem Ipsum is simply dummy text of the printing and typeseing industry<br>
 Lorem Ipsum has been the industrys standard dummy text ever since the when an Lorem Ipsum is simply<br>
dummy text of the printing and typeseing industry.
               </p>
              <div class="getbtn"> <a href="#" class="get">Get download link</a></div>
          </div>
       </div>
    </div>
  </div>  
  <!-- Get Download Link End--> 
  
  <!-- Clients Logo--> 
   <div class="section12">
       <div class="container">
       <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
             <div class="slider1">
                   <div class="slide"><img src="/frontend/images/lg1.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg2.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg3.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg4.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg1.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg2.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg3.png" alt="brand-logo"></div>
                   <div class="slide"><img src="/frontend/images/lg4.png" alt="brand-logo"></div>                  

             </div>
             
          </div>
        </div>
      </div>
    </div> 
    <!-- Clients Logo End-->  
  
  
    <!-- Freetrial--> 
<!--    <div class="section13" id="freetrial">
       <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 wow flipInX" data-wow-duration="3s">
               <div class="heading">
                    <span>Let’s start</span>
                    <h2>Start your free trial</h2>
                 </div>
                 
                 <div class="form">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <button>start your free trial now</button>
                    <p>Create Your <a href="#">FREE</a> Account Now & Get 30 days FREE trial. No credit card required</p>

                 </div>
            </div>
         </div>
       </div>
   </div>    -->
    <!-- freetrial End--> 
    
 <%- include('foot') %>
