<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script>
    var allMemberlist = <%- JSON.stringify(member_list) %>;
    var monthYear = '<%= month%> <%= year %>';
    var userData = <%- JSON.stringify(userData) %>;
    var monthly_report = <%- JSON.stringify(monthly_report) %>
</script>
<style>

.mce-container.mce-menubar{
    display: none;
}

</style> 
<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                            
                        <div class="panel panel-custom panel-border">
                            <div class="panel-heading">                            
                                <select class="select2 panel-title col-md-6" id="changeMonthSelect">
                                    <option selected>Select Month</option>
                                </select>
                                <h4 class="panel-title text-center col-md-6 m-t-6" id="">
                                    <script type="text/javascript">document.write(moment(monthYear,'MM YYYY').format('MMMM YYYY'));</script>
                                </h4>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="alert alert-success alert-dismissable" id="addBazarAlertMsg" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <span></span>
                        </div>

                        <div class="row">
                            <form action="" class="form-horizontal" role="form" method="POST">
                                
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Add Bazar</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Select Day </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control select2" onchange="datebyBazar(this)" name="day" id="bazarOfTheDay">
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <% if(userData.user_role == 'Manager'){ %>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Select Member </label>
                                                            <div class="col-md-8">
                                                                <select class="form-control select2" name="member_id" id="selectMember_id" required>
                                                                    <% _.each(member_list,function(v,k){ %>
                                                                        <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                                                    <% })%>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Bazar Details</label>
                                                            <div class="col-md-8">
                                                                <textarea class="form-control" name="bazar_details" id="bazarDetails2"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Amount</label>
                                                            <div class="col-md-8">
                                                                <input type="number" class="form-control" name="total_amount" value="0" id="totalAmount">
                                                            </div>
                                                        </div>
                                                        <% if(monthly_report.status == 0 ){ %>  
                                                          <div class="form-group">
                                                              <div class="col-lg-8 col-md-offset-4 text-center">
                                                                  <a class="btn btn-block btn-primary waves-effect waves-light w-xs m-b-5" onclick="addBazar('new')">Add Bazar</a>
                                                              </div>
                                                          </div>
                                                        <% } %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h3 id="bazarStatus" class="panel-title text-center">Today Bazar Status</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <ul class="list-group" id="todayBazarList">
                                                            <% _.each(bazar_list, function(va,ka){%>
                                                                <% _.each(member_list,function(v,k){if(va.assign_user_id == v.user_id){%>
                                                                    <li class="list-group-item data" data-value="<%= va.total_amount %>">
                                                                            <span class="badge badge-primary"><%= va.total_amount %> Tk.</span>
                                                                        <%= ka+1 %>. <%= v.user_name%>
                                                                    </li>
                                                                <% }})%>
                                                            <%})%>
                                                            <li class="list-group-item" id="todayBazarTotal" style="font-weight:bold"> Total: <span class="badge badge-primary"> 0 Tk.</span> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end row -->

                    </div><!-- end col -->
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-success panel-border">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-center">Bazar List</h2>
                                    </div>
                                    <div class="panel-body">                                                
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table  table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Sl</th>
                                                            <th>Member</th>
                                                            <th>Creator</th>
                                                            <th>Bazar Details</th>
                                                            <th>Amount</th>
                                                            <th>Date & Time</th>
                                                            <% if(monthly_report.status == 0){ %> 
                                                              <th>Action</th>
                                                            <% } %>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="dateByBazar_table">
                                                    <% var i = 1; _.each(bazar_list, function(v,k){ %>
                                                        
                                                        <tr data_amount="<%= v.total_amount %>" data_details="<%= v.bazar_details%>">
                                                            <td><%= i++ %></td>
                                                            <td class="data_member"> <% _.each(member_list, function(vm,km){ if(vm.user_id == v.assign_user_id){ %> <%= vm.user_name %> <% } }) %></td>
                                                            <td> <% _.each(member_list, function(vm,km){ if(vm.user_id == v.creator_id){ %> <%= vm.user_name %> <% } }) %></td>
                                                            <td><%= v.bazar_details%></td>
                                                            <td><%= v.total_amount %> Tk.</td>
                                                            <td><%= moment.unix(v.date_of_bazar).format('DD-MM-YYYY') %> </td>
                                                            <% if(monthly_report.status == 0){ %> 

                                                              <td>
                                                                  <button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editBazar(this)" data_member_id="<%= v.assign_user_id %>" data-id="<%= v.bazar_id %>"> <i class="fa fa-edit (alias)"></i> </button>
                                                                  <button class="btn btn--md btn-danger waves-effect waves-light" onclick="deleteBazar(this)" data_member_id="<%= v.assign_user_id %>" data_amount="<%= v.total_amount %>" data-id="<%= v.bazar_id %>"> <i class="fa fa-trash-o"></i> </button>
                                                              </td>
                                                            <% } %>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                        <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->
        <footer class="footer text-right">
                 <%= footer_name %>.
            </footer>
    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>


<div class="test_row row">
    <div id="modal-container">
        <div class="modal-background">
          <div class="modal">
              <div class="modal-header">
                  <h4>Edit Bazar</h4>
                  <span class="closeModal">&times;</span><span class="sr-only">Close</span>
              </div>
              <div class="bg-picture card-box" style="margin:0px;">
                    <div class="profile-info-name">
                        <div class="profile-info-detail">
                            <h3 class="profileTitle" class="m-t-0 m-b-0"></h3>
                            <p class="text-muted m-b-20"><i></i></p>

                            <form role="form" class="form">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="member_id" value="">
                                    <input type="hidden" class="form-control" id="bazar_id" value="">
                                    <label style="float:left" class="text-left control-label">Bazar Details</label>
                                    <textarea class="form-control" id="bazarDetail" value=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label style="float:left" class="text-left control-label">Bazar Amount</label>
                                    <input type="text" class="form-control" id="bazarAmount" value="">
                                </div>
                            </form>

                            <div class="button-list m-t-20">
                                <button onclick="updateBazar()" style="float:right" type="button" class="btn btn-sm btn-twitter waves-effect waves-light">Update</button>
                                <button onclick="$('.closeModal').trigger('click')" style="float:right" type="button" class="btn btn-facebook btn-sm waves-effect waves-light">Cancel</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
          </div>
        </div>
      </div>
</div>

<!-- Sweet Alert js -->
<script src="/admin_assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/admin_assets/pages/jquery.sweet-alert.init.js"></script>


<script type="text/javascript">
    $('#todayData').text('Month: '+moment().format('MMMM YYYY'));
    // var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var totaldays = <%- JSON.stringify(totaldays) %>;
    var today = moment().format('DD');
    var thisMonth = <%- JSON.stringify(month) %>;
    var thisYear = <%- JSON.stringify(year) %>;
    var i;
    for (i = 1; i <= totaldays; i++) { 
        if(i == today){
            $('#bazarOfTheDay').append('<option id="todayOption" selected="selected" value="'+i+'">Day '+i+'</option>');
            $("#bazarOfTheDay").select2({
                placeholder: "day "+i,
                allowClear: true
            });
            
        }else{
            $('#bazarOfTheDay').append('<option value="'+i+'">Day '+i+'</option>');
        }

    }
    var holdClick = 1;
    function addBazar(type){
        if(holdClick == 1){
            holdClick = 0;
            if($('#totalAmount').val() > 0){

                var day = $('#bazarOfTheDay').val()
                var date = moment(day+'-'+thisMonth+'-'+thisYear, "DD-MM-YYYY").unix();
                var data_user_name = '';
                $.each(allMemberlist, function(k,v){
                    if(v.user_id == $('#selectMember_id').val())
                        data_user_name = v.user_name;
                });
        
                var data = {
                    member:$('#selectMember_id').val(),
                    bazar_details:$('#bazarDetails2').val(),
                    amount:$('#totalAmount').val(),
                    day:day,
                    month:thisMonth,
                    year:thisYear,
                    date_of_meal:date
                }
                
                $.ajax({
                    type: "POST",
                    url: '/dashboard/bazar/addBazar',
                    data: data,
                    success: function(res) {
                        holdClick = 1;
                        var alertMsg = "Bazar Added Successfully.";
                        $('#bazarDetails2').val('');
                        $('#totalAmount').val(0);
                        $('#addBazarAlertMsg').slideDown().find('span').text(alertMsg);
                        var i = $('#dateByBazar_table tr').length + 1;
                        var list = '<li class="list-group-item data" data-value="'+data.amount+'">';
                            list += '<span class="badge badge-primary">'+data.amount+' Tk.</span>'+ i +'. '+data_user_name+'';
                            list += '</li>';

                        var creator;
                        $.each(allMemberlist, function(k,v){
                            if(v.user_id == res.data.creator_id){
                                creator = v.user_name;
                            }
                        });
                        var tableData = '<tr data_amount="'+data.amount+'" data_details="'+ data.bazar_details +'">';
                            tableData +=    '<td>'+ i +'</td>';
                            tableData +=    '<td class="data_member">'+data_user_name+'</td>';
                            tableData +=    '<td>'+creator+'</td>';
                            tableData +=    '<td>'+ data.bazar_details +'</td>';
                            tableData +=    '<td>'+data.amount+' Tk.</td>';
                            tableData +=    '<td>'+ moment.unix(res.data.date_of_bazar).format('DD-MM-YYYY') +'</td>';
                            if(monthly_report.status == 0){
                              tableData +=    '<td>';
                              tableData +=        '<button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editBazar(this)" data_member_id="'+res.data.assign_user_id+'" data-id="'+res.data.bazar_id+'"> <i class="fa fa-edit (alias)"></i> </button> ';
                              tableData +=        '<button class="btn btn--md btn-danger waves-effect waves-light" onclick="deleteBazar(this)" data_member_id="'+res.data.assign_user_id+'" data_amount="'+data.amount+'" data-id="'+res.data.bazar_id+'"> <i class="fa fa-trash-o"></i> </button>';
                              tableData +=    '</td>';
                            }
                            tableData += '</tr>';
                        // $('#todayBazarList').append(list);
                        $(list).insertBefore('#todayBazarTotal');
                        $('#dateByBazar_table').append(tableData);

                        let count = $('#todayBazarList').find('.data');
                        var totalBazarAmount = 0
                        $.each(count,function(k,v){
                            totalBazarAmount = totalBazarAmount + Number($(v).attr('data-value'))
                            $('#todayBazarTotal span').text(totalBazarAmount+' Tk.');
                        });
                        setTimeout(function(){ $('#addBazarAlertMsg').slideUp(); }, 2000);
                    },
                    error: function() {
                        console.log('failed');
                    }
                });
            }else{
                 holdClick = 1;
                var alertMsg = "Please enter some amount.";
                $('#addBazarAlertMsg').slideDown().find('span').text(alertMsg);
                setTimeout(function(){ $('#addBazarAlertMsg').slideUp(); }, 2000);
            }
        }
    }
    var totalAmount = 0;
    var count = $('#todayBazarList').find('.data');
    $.each(count,function(k,v){
        totalAmount = totalAmount + Number($(v).attr('data-value'))
        $('#todayBazarTotal span').text(totalAmount+' Tk.');
    })

    function datebyBazar(elm){
        let value = $(elm).val();
        var data2 = {
          day: value,
          month: thisMonth,
          year: thisYear,
          mess_id: userData.mess_id
        }
        socket.emit('getDateBy_bazar',data2,function(res){
          if(res.data !== null){
              if(value == today){
                  $('#bazarStatus').text('Today Bazar Status');
              }else{
                  $('#bazarStatus').text('Day '+ value+' Bazar Status');
              }
              $('#todayBazarList li.data').remove();
              $('#dateByBazar_table tr').remove();
              let totalBazarAll = 0;
              $.each(res.data,function(k,v){
                  let Creator;
                  $.each(allMemberlist, function(kc,vc){
                      if(vc.user_id == v.creator_id){
                          Creator = vc.user_name;
                      }
                  });
                  $.each(allMemberlist,function(km, vm){
                      if(v.assign_user_id == vm.user_id){
                          totalBazarAll = Number(v.total_amount) + totalBazarAll;
                      var list = '<li class="list-group-item data" data-value="'+v.total_amount+'">';
                          list += '<span class="badge badge-primary">'+v.total_amount+' Tk.</span>'+vm.user_name+'';
                          list += '</li>';
                      var tableData =  '<tr data_amount="'+v.total_amount+'" data_details="'+ v.bazar_details +'">';
                          tableData +=    '<td>'+(k+1)+'</td>';
                          tableData +=    '<td class="data_member">'+vm.user_name+'</td>';
                          tableData +=    '<td>'+Creator+'</td>';
                          tableData +=    '<td>'+v.bazar_details+'</td>';
                          tableData +=    '<td>'+v.total_amount+' Tk.</td>';
                          tableData +=    '<td>'+ moment.unix(v.date_of_bazar).format('DD-MM-YYYY') +'</td>';
                          if(monthly_report.status == 0){

                            tableData +=    '<td>';
                            tableData +=        '<button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editBazar(this)" data_member_id="'+v.assign_user_id+'" data-id="'+v.bazar_id+'"> <i class="fa fa-edit (alias)"></i> </button> ';
                            tableData +=        '<button class="btn btn--md btn-danger waves-effect waves-light" onclick="deleteBazar(this)"  data_member_id="'+v.assign_user_id+'" data_amount="'+v.total_amount+'" data-id="'+v.bazar_id+'"> <i class="fa fa-trash-o"></i> </button>';
                            tableData +=    '</td>';
                          }
                          tableData += '</tr>';
                      $('#todayBazarList').prepend(list);
                      $('#dateByBazar_table').append(tableData);
                      }
                  });
              });
              $('#todayBazarTotal span').text(totalBazarAll+' Tk.');
          }
        })
    }

    function deleteBazar(elm){
        let id = $(elm).attr('data-id');
        let deleteAmount = $(elm).attr('data_amount');
        let member = $(elm).attr('data_member_id');
        swal({
            title: "Are you sure ?",
            text: "You want to delete this Bazar ? This cannot be UNDONE !",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: 'btn-danger waves-effect waves-light',
            confirmButtonText: 'Yes!',
            closeOnConfirm: false
        },function(isConfirm){
            if(isConfirm){
                $.ajax({
                    type: 'POST',
                    url: '/dashboard/deleteBazar',
                    data: {id:id,amount:deleteAmount,member:member},
                    success: function(res){
                        if(res.msg == 'success'){
                            swal({
                                title:"Delete!", 
                                text:"Succesfully Deleted", 
                                type:"success",
                                showConfirmButton: true
                            },function(res){
                                    location.reload();
                            });
                        }
                    }
                });
            }
        });
    }

    function editBazar(elm){
        let id = $(elm).attr('data-id');
        let member_id = $(elm).attr('data_member_id');
        let amount = $(elm).parents('tr').attr('data_amount');
        let details =  $(elm).parents('tr').attr('data_details');
        let member =  $(elm).parent('td').siblings('.data_member').text();
        $('.profileTitle').text(member);
        $('#member_id').val(member_id);
        $('#bazar_id').val(id);
        $('#bazarDetail').val(details);
        $('#bazarAmount').val(amount);
        $('#modal-container').removeAttr('class').addClass('customModal').css('z-index','999');
        $('body').addClass('modal-active');
    }

    function updateBazar(){
        var data = {
            assign_user_id: $('#member_id').val(),
            bazar_id: $('#bazar_id').val(),
            details: $('#bazarDetail').val(),
            amount: $('#bazarAmount').val(),
            c_time: Date.now,
        }
        $.ajax({
            type: 'POST',
            url: '/dashboard/bazar/updateBazar',
            data: data,
            success: function(res){
                if(res.msg == 'success'){
                    location.reload();
                }
            }
        });
    }

    $('.closeModal').click(function(){
        $('#modal-container').addClass('out');
        $('body').removeClass('modal-active');
    });

    $('#changeMonthSelect').on('change',function(){
        window.location.replace('/dashboard/bazar/'+$(this).val()+'');
    });

</script>