<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script> 
var monthYear = '<%= month%> <%= year %>';
</script>    
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                
                <div class="row">                
                    <div class="col-md-12">                            
                        <div class="panel panel-custom panel-border">
                            <div class="panel-heading">                            
                                <select class="select2 panel-title col-md-6" id="changeMonthSelect">
                                    <option selected>Select Month</option>
                                </select>
                                <h4 class="panel-title text-center col-md-6 m-t-6" id="">
                                    <script type="text/javascript">document.write(moment(monthYear,'MM YYYY').format('MMMM YYYY'));</script>
                                </h4>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>

                <div class="row">                    
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-custom panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center">Bazar Status</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <% var totalBazar = 0; %>
                                                <%  _.each(member_list, function(v,k){ var thisTotal = 0;%> 
                                                <% _.each(bazar_list,function(va,ka){if(v.user_id == va.assign_user_id){thisTotal = (thisTotal) + Number(va.total_amount); totalBazar = (totalBazar) + Number(va.total_amount) }})%>
                                                    <li class="list-group-item data" data-value="0">
                                                            <span class="badge badge-primary"><%= thisTotal %> Tk</span>
                                                        <%= k +1 %>. <%= v.user_name %>
                                                    </li>
                                                <%})%>
                                                
                                                <li class="list-group-item" style="font-weight:bold"> Total: <span class="badge badge-primary"> <%= totalBazar %> Tk</span> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-custom panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center">Meal Rate</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <ul class="list-group">
                                                <% var totalMeal = 0; %>
                                                <% var totalBazar = 0; %>
                                                <% var mealRate = 0; %>
                                                <%  _.each(member_list, function(v,k){ var thisTotal = 0;%> 
                                                    <% if(meal_list.length !== 0){ _.each(meal_list, function(va,ka){ if(va.assign_user_id == v.user_id){thisTotal = thisTotal + va.lunch + va.dinner + va.breakfast + va.guest; totalMeal = totalMeal + va.lunch + va.dinner + va.breakfast + va.guest}}) %> 
                                                <%}})%>
                                                <%  _.each(member_list, function(v,k){ var thisTotal = 0;%> 
                                                <% if(meal_list.length !== 0){ _.each(bazar_list,function(va,ka){if(v.user_id == va.assign_user_id){thisTotal = (thisTotal) + Number(va.total_amount); totalBazar = (totalBazar) + Number(va.total_amount) }})%>
                                                <% }}) %>
                                                <%  if(totalMeal > 0 && totalBazar > 0){ mealRate = Math.ceil(totalBazar / totalMeal )} %>
                                                <li class="list-group-item" style="font-weight:bold"> Total Meal: <span class="badge badge-primary"> <%= totalMeal %></span> </li>
                                                <li class="list-group-item" style="font-weight:bold"> Total Bazar: <span class="badge badge-primary"> <%= totalBazar %> Tk.</span> </li>
                                                <li class="list-group-item" style="font-weight:bold"> Meal Rate: <span class="badge badge-primary"> <%= mealRate %> Tk.</span> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <% if(ses_msg !== null){ %>
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <%= ses_msg %>
                            </div>
                        <%   } %>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-success panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center">Bazar Details</h3>                                    
                                    </div>
                                    <div class="panel-body">                                                
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table  table-striped">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th class="text-center">Day</th>
                                                            <%  _.each(member_list,function(v,k){ %> 
                                                                <th class="text-center"><%= v.user_name %>  </th>
                                                            <%})%>
                                                            <th class="text-center">Sub Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(var i=1; i<= totaldays; i++) {%>
                                                        <% var sub_total = 0 ; %>
                                                        <tr class="text-center">
                                                            <td class="text-center"><span class="label label-info"><%= i %> </span></td>
                                                            <%  _.each(member_list,function(v,k){ %>
                                                                <% var total = 0 %> 
                                                                <% _.each(bazar_list,function(va,ka){if(va.assign_user_id == v.user_id && va.day == i ){total = Number(va.total_amount )+ total; sub_total = sub_total + Number(va.total_amount ); }})%>
                                                                <td class="text-center"><span class="label <% if(total > 0){%>label-success<%}else{%>label-warning<% }%> "><%= total %> Tk.</span></td>
                                                            <%})%>
                                                            <td class="text-center"><span class="label label-purple"><%= sub_total %> Tk.</span></td>
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container -->
        </div> <!-- content -->

        <footer class="footer text-right">
            <%= footer_name %>.
        </footer>

    </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>
<script type="text/javascript">
    var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var today = moment().format('DD');
    var thisMonth = moment().format('MM');
    var thisYear = moment().format('YYYY');
    $('#changeMonthSelect').on('change',function(){
        window.location.replace('/dashboard/bazar-details/'+$(this).val()+'');
    })
</script>