<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script> 
var monthYear = '<%= month %> <%= year %>';
var mess_name = <%- JSON.stringify(userData.mess_name) %>;
var mess_id = <%- JSON.stringify(userData.mess_id) %>;

var footer_name = <%- JSON.stringify(footer_name) %>
</script>    
<% var totalMeal =  0; %>
<% var totalBazar =  0; %>
<% var fixedCost =  fixed_cost_list.house_rent + fixed_cost_list.electricity_bill + fixed_cost_list.gas_bill + fixed_cost_list.water_bill + fixed_cost_list.garbage_bill + fixed_cost_list.chef_bill + fixed_cost_list.internet_bill + fixed_cost_list.others; %>
<%  _.each(member_list,function(vu,ku){ _.each(meal_list,function(vm,km){ if(vu.user_id == vm.assign_user_id){ totalMeal = totalMeal + vm.breakfast + vm.lunch + vm.dinner + vm.guest } }) })  %>
<%   _.each(member_list,function(vu,ku){  _.each(bazar_list,function(vb,kb){  if(vu.user_id == vb.assign_user_id) {totalBazar = totalBazar + Number(vb.total_amount) } })  }); %>
<% var mealRate =  totalBazar / totalMeal; mealRate = Number(mealRate.toFixed(2)) %>
<% var perHeadFixedCost = fixedCost / member_list.length; perHeadFixedCost = Number(perHeadFixedCost.toFixed(2))%>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">                         
                            <div class="panel panel-info panel-border">
                                <div class="panel-heading"></div>
                                <div class="panel-body">
                                    <select class="select2 panel-title col-md-6" id="changeMonthSelect">
                                        <option selected>Select Month</option>
                                    </select>
                                    <h4 class="panel-title text-center col-md-6" id="">
                                        <script type="text/javascript">document.write(moment(monthYear,'MM YYYY').format('MMMM YYYY'));</script>
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div class="text-center">
                                        <h2 class="text-success" data-plugin="counterup"><%= totalMeal %></h2>
                                        <h5 class="text-success" >Total Meal</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div class="text-center">
                                        <h2 class="text-primary" data-plugin="counterup"><%= totalBazar %> Tk.</h2>
                                        <h5 class="text-primary">Total Bazar</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div class="text-center">
                                        <h2 class="text-warning" data-plugin="counterup"><% if(isNaN(mealRate)){ %> 0 <%}else{%> <%= mealRate %><%} %>  Tk.</h2>
                                        <h5 class="text-warning" >Meal Rate</h5>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div class="text-center">
                                        <h2 class="text-info" data-plugin="counterup"><%= fixedCost %> Tk.</h2>
                                        <h5 class="text-info" >Fixed Cost</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <% if(ses_msg !== null){ %>
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <%= ses_msg %>
                                    </div>
                                <%   } %>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel <% if(monthly_report.status == 1){%> panel-danger <%}else{%> panel-success <%}%> panel-border">
                                            <div class="panel-heading">
                                                <h3 class="panel-title text-center">Monthly Total Calculations</h3>
                                            </div>
                                            <div class="panel-body" id="monthlyCalculationView"> 
                                                <h3 style="text-align:center; margin:4px 0px;"><%= userData.mess_name %></h3> 
                                                <h5 style="text-align:center;margin:4px 0px;" ><script type="text/javascript">document.write(moment(monthYear,'MM YYYY').format('MMMM YYYY'));</script></h5>                                            
                                                <div class="table-rep-plugin">
                                                    <div class="table-responsive" data-pattern="priority-columns">
                                                        <table id="tech-companies-1" class="table  table-striped">
                                                            <thead>
                                                                <tr class="text-center">
                                                                    <th class="text-center">SL</th>
                                                                    <th class="text-center">Name</th>
                                                                    <th class="text-center"> Meal</th>
                                                                    <th class="text-center"> Bazar</th>
                                                                    <th class="text-center">Meal Cost</th>
                                                                    <th class="text-center">Meal Balance</th>
                                                                    <th class="text-center">Total Deposit</th>
                                                                    <th class="text-center">Total Cost</th>
                                                                    <% if(monthly_report.status !== 1){%> <th>A/C Balance</th>  <%}%>
                                                                    <th class="text-center">Balance Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% _.each(member_list, function(vu,ku){ %> 
                                                                    <% var thisTotalMeal = 0 ; %>
                                                                    <% var thisTotalBazar = 0 ; %>
                                                                    <% var totalDeposit = 0 %>
                                                                    <%  _.each(meal_list,function(vm,km){ if(vu.user_id == vm.assign_user_id ){thisTotalMeal = thisTotalMeal + vm.breakfast + vm.lunch + vm.dinner + vm.guest; }}) %>
                                                                    <%  _.each(bazar_list,function(vb,kb){ if(vu.user_id == vb.assign_user_id ){thisTotalBazar = Math.ceil(thisTotalBazar + Number(vb.total_amount))}}) %>
                                                                    <% _.each(payment_log,function(vp,kp){if(vp.log_data.payment_user_id == vu.user_id ){totalDeposit = Math.ceil(totalDeposit + Number(vp.log_data.amount)) }})%>
                                                                    <% var this_meal_cost = Math.ceil(thisTotalMeal * mealRate) %>
                                                                    <% var this_meal_c_s = Math.ceil(thisTotalBazar - this_meal_cost); %>
                                                                    <% var thisMonthTotalDeposit = Math.ceil((totalDeposit) + (thisTotalBazar));%>
                                                                    <% var totalCost = perHeadFixedCost + this_meal_cost %>
                                                                    <% var balance = Math.ceil(vu.account - totalCost) %>
                                                                    
                                                                    <tr class="active text-center">
                                                                        <th class="text-center" scope="row" id="<%= vu.user_id %>"><%= ku +1 %></th>
                                                                        <td class="text-center"><%= vu.user_name %></td>
                                                                        <td class="text-center"><%= thisTotalMeal %></td>
                                                                        <td class="text-center"><%= thisTotalBazar %> Tk.</td>
                                                                        <td class="text-center"><% if(isNaN(this_meal_cost)){ %> 0 <%}else{%> <%= this_meal_cost %><%} %> Tk.</td>
                                                                        <td class="text-center"><% if(isNaN(this_meal_c_s)){ %> 0 <%}else{%> <%= this_meal_c_s %><%} %> Tk.</td>
                                                                        <td class="text-center"><%= thisMonthTotalDeposit %> Tk.</td>
                                                                        <td class="_userTotal text-center" user-id="<%= vu.user_id %>" user-cost="<% if(isNaN(totalCost)){ %><%= perHeadFixedCost %><%}else{%><%= totalCost %><%} %>"><% if(isNaN(totalCost)){ %> <%= perHeadFixedCost %><%}else{%> <%= totalCost %><%} %> Tk.</td>
                                                                        <% if(monthly_report.status !== 1){%> <td><%= vu.account %> Tk.</td>  <%}%>
                                                                        <td class="text-center"><% if(monthly_report.status == 1){ _.each(monthly_report.mess_members, function(vmr,kmr){ if(vmr.user_id == vu.user_id){%> <%= vmr.account %><% }}); }else{ if(isNaN(balance)){ %> 0 <%}else{%> <%= balance %><%} }%> Tk.</td>
                                                                    </tr>
                                                                <%})%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                                <h5 style="text-align:center"><%= footer_name %></h5>

                                            </div>
                                        </div>
                                        <% if(userData.user_role == 'Manager'){ %>
                                        <% if(monthly_report.status == 1){ %> 
                                            <button class="btn btn-danger waves-effect waves-light m-b-5" style="float: right;"> <span>Closed</span> <i class="fa fa-lock m-l-5"></i> </button>
                                            <button class="btn btn-info waves-effect waves-light m-b-5 m-r-10" style="float: right;" onclick="printMonthlyCalculation()" > <span>Print</span> <i class="zmdi zmdi-print m-l-5"></i> </button>
                                        <%}else{%> 

                                            <button class="btn btn-danger waves-effect waves-light m-b-5" onclick="closeThisMonth(this)" style="float: right;"  monthly-report-id="<%= monthly_report.month_id %>" meal-rate="<%= mealRate %>" total-bazar="<%= totalBazar %>" total-meal="<%= totalMeal %>"> <span>Close Calculations</span> <i class="fa fa-lock m-l-5"></i> </button>
                                        <%}%>
                                        <% } %>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                         <%= footer_name %>.
                    </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>
        <!-- Sweet Alert js -->
        <script src="/admin_assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
        <script src="/admin_assets/pages/jquery.sweet-alert.init.js"></script>
<script type="text/javascript">
    var totaldays = <%- JSON.stringify(totaldays) %>;
    var today = moment().format('DD');
    var thisMonth = <%- JSON.stringify(month) %>;
    var thisYear = <%- JSON.stringify(year) %>;

    function closeThisMonth(ele){
                var month_id = $(ele).attr('monthly-report-id');
                var meal_rate = $(ele).attr('meal-rate');
                var total_bazar = $(ele).attr('total-bazar');
                var total_meal = $(ele).attr('total-meal');
                var activeUser = [];
                $.each($('._userTotal'),function(k,v){
                    var data = {
                        cost:$(v).attr('user-cost'),
                        user_id:$(v).attr('user-id')
                    }
                    activeUser.push(data);
                })
                swal({
                    title: "Are you sure ?",
                    text: "You want to close this month calculations ? This cannot be UNDONE !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false
                },function(isConfirm){
                  if(isConfirm){

                    var data = {
                            month_id:month_id,
                            data:activeUser,
                            mess_id:mess_id,
                            meal_rate:meal_rate,
                            total_bazar:total_bazar,
                            total_meal:total_meal
                    }
                      socket.emit('close_calculation',data,function(res){
                        if(res.msg == 'success'){
                            swal({
                                title:"Closed!", 
                                text:"Succesfully closed", 
                                type:"success",
                                showConfirmButton: true
                            },function(res){
                                    location.reload();
                            });
                        }
                      });
                      
                    // $.ajax({
                    //     type: "POST",
                    //     url: '/dashboard/closed-calculations',
                    //     data: {
                    //         month_id:month_id,
                    //         data:activeUser,
                    //         meal_rate:meal_rate,
                    //         total_bazar:total_bazar,
                    //         total_meal:total_meal
                    //     },
                    //     success: function(res) {
                    //         console.log(res);
                    //         if(res.msg == 'success'){
                    //             swal({
                    //                 title:"Closed!", 
                    //                 text:"Succesfully closed", 
                    //                 type:"success",
                    //                 showConfirmButton: true
                    //             },function(res){
                    //                  location.reload();
                    //             });
                    //         }
                    //     },
                    //     error: function() {
                    //         console.log('failed');
                    //     }
                    // });
                    
                  }                  
                });
            }

    $('#changeMonthSelect').on('change',function(){
        window.location.replace('/dashboard/monthly-calculation/'+$(this).val()+'');
    })

    function printData(){
       var divToPrint=$('#monthlyCalculationView');
       divToPrint.find('td').css({'border':'1px solid #d8d8d8','text-align':'center'});
       divToPrint.find('th').css({'border':'1px solid #d8d8d8','text-align':'center'});
       newWin = window.open("");
       newWin.document.write(divToPrint.html());
       newWin.print();
       newWin.close();
    }

    function printMonthlyCalculation(){
        printData();
    }
</script>