<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>

<script>
    let fixedCost = <%- JSON.stringify(fixed_cost_log) %>
</script>

<!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <form action="/dashboard/fixed-cost" class="form-horizontal" role="form" method="POST">
                                <% if(userData.user_role == 'Manager'){ %>
                                <div class="col-md-6">
                                    <div class="panel panel-custom panel-border">
                                        <div class="panel-heading">
                                            <h3 class="panel-title text-center">Fixed Cost Form</h3>
                                        </div>
                                        <div class="panel-body">
                                            <% if(ses_msg !== null){ %>
                                                <div class="alert alert-success alert-dismissable">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                    <%= ses_msg %>
                                                </div>
                                            <%   } %>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">House Rent</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="house_rent" placeholder="House Bill"  value="<%= fixed_cost.house_rent %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Electricity Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="electricity_bill" placeholder="Electricity Bill"  value="<%= fixed_cost.electricity_bill %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Gas Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="gas_bill" placeholder="Gas Bill"  value="<%= fixed_cost.gas_bill %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Water Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="water_bill" placeholder="Water Bill"  value="<%= fixed_cost.water_bill %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Garbage Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="garbage_bill" placeholder="Garbage Bill"  value="<%= fixed_cost.garbage_bill %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Internet Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="internet_bill" placeholder="Internet Bill"  value="<%= fixed_cost.internet_bill %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Chef Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="chef_bill" placeholder="Chef Bill" value="<%= fixed_cost.chef_bill %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Others Bill</label>
                                                <div class="col-md-8">
                                                    <input type="number" class="form-control"  name="others" placeholder="others Bill" value="<%= fixed_cost.others %>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <% if(userData.user_role == 'Manager'){ %>
                                                    <div class="col-md-8 col-md-offset-4 text-center">
                                                        <button type="submit" class="btn btn-block btn-primary waves-effect waves-light w-xs m-b-5">Update Fixed Cost</button>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <input type="hidden" class="form-control"  name="fixed_cost_id" value="<%= fixed_cost.fixed_cost_id %>">
                                <input type="hidden" class="form-control"  name="old_fixed_cost" value="<%= JSON.stringify(fixed_cost) %>">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">Fixed Cost list</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <ul class="list-group"> 
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.house_rent %> Tk.</span>
                                                                House Rent
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.electricity_bill %> Tk.</span>
                                                                Electricity Bill
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.gas_bill %> Tk.</span>
                                                                Gas Bill
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.water_bill %> Tk.</span>
                                                                Water Bill
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.garbage_bill %> Tk.</span>
                                                                Garbage Bill
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.internet_bill %> Tk.</span>
                                                                Internet Bill
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.chef_bill %> Tk.</span>
                                                                Chef Bill
                                                            </li>
                                                            <li class="list-group-item data">
                                                                <span class="badge badge-primary"><%= fixed_cost.others %> Tk.</span>
                                                                Others
                                                            </li>
                                                            <li class="list-group-item" id="todayMealTotal" style="font-weight:bold"> Total: <span class="badge badge-primary"> <%= fixed_cost.house_rent+fixed_cost.electricity_bill+fixed_cost.gas_bill+fixed_cost.water_bill+fixed_cost.garbage_bill+fixed_cost.internet_bill + fixed_cost.chef_bill%> Tk.</span> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-success panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center">Fixed Cost Report</h3>                                    
                                    </div>
                                    <div class="panel-body">                                                
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table  table-striped">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th class="text-center">SL</th>
                                                            <th class="text-center">Status</th>
                                                            <th class="text-center">Time</th>
                                                            <th class="text-center">Old Cost</th>
                                                            <th style="width:150px" class="text-center">View Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% var i = 1; _.each(fixed_cost_log, function(v,k){ var totalAmount = v.log_data.house_rent + v.log_data.electricity_bill + v.log_data.gas_bill + v.log_data.water_bill + v.log_data.garbage_bill + v.log_data.internet_bill + v.log_data.chef_bill; %>

                                                            <tr class="text-center">
                                                                <td class="text-center"><%= i++ %></td>
                                                                <td class="text-center">Updated by <% _.each(member_list, function(vm,km){ if(vm.user_id == v.creator_id){ %> <%= vm.user_name %> <%} }); %></td>
                                                                <td class="text-center"><%= moment(v.created_at,'ddd MMM DD YYYY hh:mm:ss').format('hh:mm a DD-MM-YYYY') %></td>
                                                                <td class="text-center"><%= totalAmount %></td>
                                                                <td class="text-center">
                                                                    <span style="width:100%;display:flex;justify-content:center">
                                                                        <a href="#custom-modal" onclick="viewOldFdata(this)" data_log_id="<%= v.log_id %>" class="btn btn-icon waves-effect waves-light btn-info m-l-5 m-r-5" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"> <i class="dripicons-preview"></i> </a>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>

                    </div> <!-- container -->
                                        <!-- Modal -->
                <div id="custom-modal" class="modal-demo" style="width:450px;">
                    <button type="button" class="close" onclick="Custombox.close();">
                        <span>&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="custom-modal-title">Old fixed cost</h4>
                    <div class="bg-picture card-box">
                        <div class="profile-info-name">
                            <div class="profile-info-detail">
                                <ul class="list-group"> 
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="houseRent"></span>
                                        House Rent
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="electricity"></span>
                                        Electricity Bill
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="gasBill"></span>
                                        Gas Bill
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="waterBill"></span>
                                        Water Bill
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="garbageBill"></span>
                                        Garbage Bill
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="internetBill"></span>
                                        Internet Bill
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="chefBill"></span>
                                        Chef Bill
                                    </li>
                                    <li class="list-group-item text-left data">
                                        <span class="badge badge-primary" id="othersBill"></span>
                                        Others Bill
                                    </li>
                                    <li class="list-group-item text-left" id="totalOldData" style="font-weight:bold"> Total: <span class="badge badge-primary">  Tk.</span> </li>
                                </ul>
                                <div class="button-list m-t-20">
                                   <%# <button onclick="undateUser()" style="float:right" type="button" class="btn btn-sm btn-twitter waves-effect waves-light">Update</button> %>
                                    <button onclick="Custombox.close();" style="float:right" type="button" class="btn btn-facebook btn-sm waves-effect waves-light">Cancel</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                </div> <!-- content -->
                
                <footer class="footer text-right">
                         <%= footer_name %>.
                    </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>


<script type="text/javascript">
    var totaldays = moment(moment().format('MMMM YYYY'), "MMMM YYYY").daysInMonth();
    var today = moment().format('DD');
    var thisMonth = moment().format('MM');
    var thisYear = moment().format('YYYY');

    function viewOldFdata(elm){
        var log_id = $(elm).attr('data_log_id');
        $.each(fixedCost, function(k,v){
            if(log_id == v.log_id){
                var totalValue = v.log_data.house_rent + v.log_data.electricity_bill + v.log_data.gas_bill + v.log_data.water_bill + v.log_data.garbage_bill + v.log_data.internet_bill + v.log_data.chef_bill+v.log_data.others;
                $('#houseRent').text(v.log_data.house_rent+' Tk.');
                $('#electricity').text(v.log_data.electricity_bill+' Tk.');
                $('#gasBill').text(v.log_data.gas_bill+' Tk.');
                $('#waterBill').text(v.log_data.water_bill+' Tk.');
                $('#garbageBill').text(v.log_data.garbage_bill+' Tk.');
                $('#internetBill').text(v.log_data.internet_bill+' Tk.');
                $('#chefBill').text(v.log_data.chef_bill+' Tk.');
                $('#othersBill').text(v.log_data.chef_bill+' Tk.');
                $('#totalOldData span').text(totalValue +' Tk.');
            }
        });
    }
</script>
