<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
<script>
var allmonthReport = <%- JSON.stringify(all_month_report) %>;
var allUserList = <%- JSON.stringify(user_data) %>;
var thisMonthAllMeal = <%- JSON.stringify(this_month_meal) %>;
var bazar_list = <%- JSON.stringify(bazar_list) %>;
var thisMonth = moment().format('MM');
var thisYear = moment().format('YYYY');
</script>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container" id="mainContainer">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 text-center">Meal Statistics</h4>
                                    <div id="meal-bar-example" style="height: 200px;"></div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 text-center">Bazar Statistics</h4>
                                    <div id="bazar-bar-example" style="height: 200px;"></div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 text-center">Meal Rate Statistics</h4>
                                    <div id="mealRate-bar-example" style="height: 200px;"></div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 text-center">A/C Balance</h4>
                                    <div id="balance-bar-example" style="height: 200px;"></div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30 text-center">Bazar Update</h4>
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table  table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>SL</th>
                                                            <th>Name</th>
                                                            <th>Amount</th>
                                                            <th>Details</th>
                                                            <th>Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% _.each(bazar_list, function(v,k){ _.each(user_data,function(vu,ku){ if(v.assign_user_id == vu.user_id){ %> 
                                                            <tr>
                                                                <td><%= k + 1 %></td>
                                                                <td><%= vu.user_name %></td>
                                                                <td><span class="label label-danger"><%= v.total_amount %> Tk.</span></td>
                                                                <td><%= v.bazar_details %></td>
                                                                <td><%= moment(v.created_at,'ddd MMM DD YYYY hh:mm:ss').format('DD-MM-YYYY') %></td>
                                                            </tr>
                                                        <% }}) })%>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>

                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                        <%= footer_name %>.
                    </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>
<!--Morris Chart-->
<script src="/admin_assets/plugins/morris/morris.min.js"></script>
<script src="/admin_assets/plugins/raphael/raphael-min.js"></script>
<script type="text/javascript" src="/admin_assets/plugins/jquery-knob/excanvas.js"></script>
<script src="/admin_assets/pages/jquery.dashboard.js"></script>

<script>
    function getIndexDay(value){
        switch(value)
            {
                case 'Saturday':
                    return 0;
                    break;
                case 'Sunday':
                    return 1;
                    break;
                case 'Monday':
                    return 2;
                    break;
                case 'Tuesday':
                    return 3;
                    break;
                case 'Wednesday':
                    return 4;
                    break;
                case 'Thusday':
                    return 5;
                    break;
                case 'Friday':
                    return 6;
                    break;
            }
    }
    var mess_id = <%- JSON.stringify(userData.mess_id) %>;
    socket.emit('getCatering',{mess_id:mess_id},function(res){
        var dayIndex = getIndexDay(moment().format('dddd'));
        var dayname = moment().format('dddd');
        if(res.msg == 'success'){
            if(res.data !== null){
                $('#mainContainer').prepend('<div class="row text-center" style="height:32px;">Today Catering: <span class="badge badge-primary">Breakfast:'+res.data.day_catering[dayIndex][dayname]['breakfast']+'</span> <span class="badge badge-pink">Lunch:'+res.data.day_catering[dayIndex][dayname]['lunch']+'</span> <span class="badge badge-inverse">Dinner:'+res.data.day_catering[dayIndex][dayname]['dinner']+'</span></div>')
            }
        }
    });
</script>