<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured Mess management system.">
        <meta name="author" content="Rich IT">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="/admin_assets/images/favicon.ico">

        <!-- App title -->
        <title><%= title %></title>

        <!-- App CSS -->
        <link href="/admin_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="/admin_assets/js/modernizr.min.js"></script>

    </head>
    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="/" class="logo"><span>Sasrayi<span>.com</span></span></a>
                <h5 class="text-muted m-t-0 font-600">2019 © Rich IT.</h5>
            </div>
        	<div class="m-t-40 card-box" id="signInDiv" style="display: block">
                <% if(ses_msg !== null){ if(ses_msg == 'Your email is now verified. Please login... Thank You'){ %> 
                    <div class="alert alert-success">
                       <strong>Success!</strong> <%= ses_msg %>
                    </div>
                <%}else{%>
                    <div class="alert alert-warning">
                       <strong>Warning!</strong> <%= ses_msg %>
                    </div>
                <%   } }%>
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="/login" method="POST">

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" required id="emailAddress" name="email" class="form-control" placeholder="Email" >
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="password" required value="password" name="password">
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-custom">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup">
                                        Remember me
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12">
                                <a id="forgot_password" onclick="forgotPassword(this)" class="text-muted" style="cursor: pointer;"><i class="fa fa-lock m-r-5" "></i> Forgot your password?</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- end card-box-->
            <div class="m-t-40 card-box" id="forgotPasswordDiv" style="display: none">
                <div class="alert alert-warning" id="forgotPasswordAlert" style="display: none">
                   <strong>Warning!</strong> <span></span>
                </div>
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Forgot Password</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="/forgotPassword" method="POST">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="forgotEmail">Email*</label>
                                <input type="email" required id="forgotEmail" name="email" class="form-control" placeholder="Email" >
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-6">
                                <a class="btn btn-default btn-bordred btn-block waves-effect waves-light" onclick="cancelForgotPassword(this)">Cancel</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-primary btn-bordred btn-block waves-effect waves-light" onclick="nextForgotPassword(this)">Next</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="m-t-40 card-box" id="forgotPasswordverification" style="display: none" data-user-id="" data-email="">
                <div class="alert alert-warning" id="forgotPasswordVerificationAlert" style="display: none">
                   <strong>Warning!</strong> <span></span>
                </div>
                <div class="alert alert-success" id="VerificationAlertSuccess" style="display: none">
                   <strong>Success!</strong> <span></span>
                </div>
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Verification Code</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="/forgotPassword" method="POST">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="verificationCode">Verification Code*</label>
                                <input type="number" required id="verificationCode" name="verification_code" class="form-control" placeholder="Verification Code " >
                            </div>
                        </div>
                        <div class="col-md-12 m-t-5" style="display: none">
                            <span>Didn't get a code?</span>
                            <button class="btn btn-purple waves-effect waves-light btn-xs m-b-5 ">Click To Resend</button>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="newPassword">New Password*</label>
                                <input type="password" required id="newPassword" name="new_pass" class="form-control" placeholder="Enter New Password " >
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-6">
                                <a class="btn btn-default btn-bordred btn-block waves-effect waves-light" onclick="cancelVerification(this)">Cancel</a>
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-primary btn-bordred btn-block waves-effect waves-light" onclick="submitNewPassword(this)">Submit</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="text-muted">Don't have an account? <a href="/register" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                </div>
            </div>

        </div>
        <!-- end wrapper page -->



    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/admin_assets/js/jquery.min.js"></script>
        <script src="/admin_assets/js/bootstrap.min.js"></script>
        <script src="/admin_assets/js/detect.js"></script>
        <script src="/admin_assets/js/fastclick.js"></script>
        <script src="/admin_assets/js/jquery.slimscroll.js"></script>
        <script src="/admin_assets/js/jquery.blockUI.js"></script>
        <script src="/admin_assets/js/waves.js"></script>
        <script src="/admin_assets/js/wow.min.js"></script>
        <script src="/admin_assets/js/jquery.nicescroll.js"></script>
        <script src="/admin_assets/js/jquery.scrollTo.min.js"></script>

        <!-- App js -->
        <script src="/admin_assets/js/jquery.core.js"></script>
        <script src="/admin_assets/js/jquery.app.js"></script>

	</body>
</html>
<script type="text/javascript">
    
    function cancelForgotPassword(ele){
        $('#forgotPasswordDiv').hide();
        $('#signInDiv').show();
    }
    function forgotPassword(ele){
        $('#forgotPasswordDiv').show();
        $('#signInDiv').hide();
    }
    function validateEmail(value) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test(value);
    }
    function nextForgotPassword(ele){
        var value = $('#forgotEmail').val();
        if(value !== ''){

            if(validateEmail(value)){
                $.ajax({
                    type:'POST',
                    url:'/login/forgotPassword',
                    data:{user_email:value},
                    success:function(res){
                        if(res.msg == 'success'){
                            $('#forgotPasswordverification').show();
                            $('#forgotPasswordDiv').hide();
                            $('#forgotPasswordverification').attr('data-user-id',res.data.user_id);
                            $('#forgotPasswordverification').attr('data-email',res.data.user_email);
                        }else{
                            $('#forgotPasswordAlert').show();
                            $('#forgotPasswordAlert').find('span').text(res.msg);
                            setTimeout(function(){$('#forgotPasswordAlert').hide()},2000);
                        }
                    },
                    error:function(err){
                        console.log(err);
                    }
                });
            }else{
                $('#forgotPasswordAlert').show();
                $('#forgotPasswordAlert').find('span').text('Please Enter Valid Email Address.');
                setTimeout(function(){$('#forgotPasswordAlert').hide()},2000);
            }
        }else{
            $('#forgotPasswordAlert').show();
            $('#forgotPasswordAlert').find('span').text('Please Enter Valid Email Address.');
            setTimeout(function(){$('#forgotPasswordAlert').hide()},2000);
        }
    }

    function cancelVerification(ele){
        $('#forgotPasswordverification').hide();
        $('#forgotPasswordDiv').hide();
         $('#signInDiv').show();
    }

    function submitNewPassword(ele){
        var verificationCode = $('#verificationCode').val();
        var user_email = $('#forgotPasswordverification').attr('data-email');
        var user_id = $('#forgotPasswordverification').attr('data-user-id');
        var newPassword = $('#newPassword').val();

        $.ajax({
            type:'POST',
            url:'/login/newPassword',
            data:{user_id:user_id,validation_code:verificationCode,password:newPassword},
            success:function(res){
                if(res.msg == 'success'){
                    $('#VerificationAlertSuccess').show().find('span').text('Password Update Successfully.');
                    setTimeout(function(){
                        $('#VerificationAlertSuccess').hide();
                        window.location.replace('/login');
                    },2000);
                }else{
                    $('#forgotPasswordVerificationAlert').show().find('span').text(res.msg);
                    setTimeout(function(){$('#forgotPasswordVerificationAlert').hide()},2000);
                }
            },
            error:function(err){
                console.log(err);
            }
        });

    }
</script>