<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>
                <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                    <% if(userData.user_role == 'Manager'){ %>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">

                                    <h4 class="header-title m-t-0 m-b-30 text-center">Add Member</h4>
                                    <% if(ses_msg !== null){ %>
                                        <div class="alert alert-success alert-dismissable">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <%= ses_msg %>
                                        </div>
                                    <%   } %>

                                    <div class="row">
                                        <form action="/dashboard/member" class="form-inline" role="form" method="POST" enctype="multipart/form-data">
                                            
                                            <div class="col-lg-12">
                                                <div class="row">                                                
                                                    <div class="col-md-7">
                                                        <div class="form-group col-md-12 m-b-20">
                                                            <label class="col-md-3 control-label">Member Name</label>
                                                            <div class="col-md-9">
                                                                <input type="text" style="width:100%" class="form-control " placeholder="e.g: John Doue" name="member_name">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12 m-b-20">
                                                            <label class="col-md-3 control-label">Member Email</label>
                                                            <div class="col-md-9">
                                                                <input type="Email" style="width:100%" class="form-control " placeholder="e.g: example@mail.com" name="member_email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label class="col-md-3 control-label">Phone Number</label>
                                                            <div class="col-md-9">
                                                                <input type="text" style="width:100%" class="form-control " placeholder="+8801*********" name="phone_number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">                                                    
                                                        <div class="form-group col-md-12  m-b-10">
                                                            <div class="col-md-12" id="memberDropy">
                                                                <input type="file" class="dropify" data-default-file="" value="" name="profile_pic" accept="image/*">
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-primary waves-effect waves-light w-sm m-b-5 col-md-12">Add Member</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div><!-- end row -->

                                </div>
                            </div><!-- end col -->
                        </div>
                        <% } %>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel panel-info panel-border">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-center">Member List</h4>
                                            </div>
                                            <div class="panel-body">                                                
                                                <div class="table-rep-plugin">
                                                    <div class="table-responsive" data-pattern="priority-columns">
                                                        <table id="tech-companies-1" class="table  table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>SL</th>
                                                                    <th>Name</th>
                                                                    <th>Phone</th>
                                                                    <th>Email</th>
                                                                    <th>Role</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                    <% _.each(member_list,function(v,k){ if(v.user_role == 1){ %>
                                                                    <tr>
                                                                        <td><%= k + 1 %></td>
                                                                        <td><%= v.user_name %></td>
                                                                        <td><%= v.user_phone %></td>
                                                                        <td><%= v.user_email %></td>
                                                                        <td> Manager </td>
                                                                        <td> 
                                                                        <% if(userData.user_role == 'Manager'){ %>
                                                                            <button class="btn btn-block btn--md btn-success waves-effect waves-light"> Active </button>
                                                                        <% }else{ %>
                                                                        <button class="btn btn--md btn-success waves-effect waves-light"> Active </button>
                                                                        <% } %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }})%>
                                                                    <% _.each(member_list,function(v,k){ if(v.user_role == 2){ %>
                                                                    <tr>
                                                                        <td><%= k + 1 %></td>
                                                                        <td><%= v.user_name %></td>
                                                                        <td><%= v.user_phone %></td>
                                                                        <td><%= v.user_email %></td>
                                                                        <td> Member </td>
                                                                        <td id="<%= v.user_id %>">
                                                                            <% if(userData.user_role == 'Manager'){ %>
                                                                                <% if(v.status == 1){ %>
                                                                                    <button  data-id="<%= v.user_id %>" onclick="deactiveUser(this)" class="btn btn-block btn--md btn-success waves-effect waves-light"> Active </button>
                                                                                <% }else{ %>
                                                                                    <button  data-id="<%= v.user_id %>" onclick="activeUser(this)" class="btn btn-block btn--md btn-danger waves-effect waves-light"> Inactive </button>
                                                                                <%} %>
                                                                            <% }else{ %>
                                                                                <% if(v.status == 1){ %>
                                                                                <button class="btn btn--md btn-success waves-effect waves-light"> Active </button>
                                                                                <% }else{ %>
                                                                                <button class="btn btn--md btn-danger waves-effect waves-light"> Inctive </button>
                                                                                <% } %>
                                                                            <% } %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }})%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col -->
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                        <%= footer_name %>.
                    </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>

<script>
function deactiveUser(elm){
    var id = $(elm).attr('data-id');
    $.ajax({
        type: 'POST',
        url: '/dashboard/deactiveUser/',
        data: {id:id},
        success: function(res){
            if(res.msg == 'success'){
                $(elm).removeClass('btn-success').addClass('btn-danger').text('Inactive');
                $(elm).attr('onclick', 'activeUser(this)');
            }
        }
    });
}

function activeUser(elm){
    var id = $(elm).attr('data-id');
    $.ajax({
        type: 'POST',
        url: '/dashboard/activeUser/',
        data: {id:id},
        success: function(res){
            if(res.msg == 'success'){
                $(elm).removeClass('btn-danger').addClass('btn-success').text('Active');
                $(elm).attr('onclick', 'deactiveUser(this)');
            }
        }
    });
}
</script>
