<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                    <% if(userData.user_role == 'Manager'){ %>
                        <div class="row">
                            <div class="col-sm-12">
                                <% if(ses_msg !== null){ %>
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        <%= ses_msg %>
                                    </div>
                                <%   } %>

                                <div class="row">
                                    <form action="/dashboard/payment" class="form-horizontal" role="form" method="POST">
                                        <div class="col-lg-6">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title m-t-0 m-b-30 text-center">Add Payment</h4>
                                                </div>
                                                <div class="panel-body">                                           
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Select Member </label>
                                                        <div class="col-md-9">
                                                            <select class="form-control select2" name="member_id" id="selectMember_id" required>
                                                                <% _.each(member_list,function(v,k){ if(v.user_id == userData.user_id){ %> 
                                                                    <option value="<%= v.user_id %>" selected ><%= v.user_name %></option>
                                                                <% }else{ %>
                                                                    <option value="<%= v.user_id %>"><%= v.user_name %></option>
                                                                <% }})%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Payment Info</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" name="payment_info" placeholder="Payment Info">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label" required>Month</label>
                                                        <div class="col-md-9">
                                                            <select name="month" class="form-control select2">
                                                                <% _.each(allmonthRe.data,function(v,k){ if(thisMonth == v.month ){ %> 
                                                                <option value="<%= v.month %>"  selected><%= moment(v.month, 'MM').format('MMMM') %></option>
                                                                <% }else{ %> 
                                                                <option value="<%= v.month %>"><%= moment(v.month, 'MM').format('MMMM') %></option>
                                                                <% } }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Year</label>
                                                        <div class="col-md-9">
                                                            <select name="year" class="form-control select2" required>
                                                                    <% var year = []; _.each(allmonthRe.data,function(v,k){ if(year.indexOf(v.year) == -1){ if(thisYear == v.year ){  %> 
                                                                        <option value="<%= v.year %>"  selected><%= v.year %></option>
                                                                        <% year.push(v.year); }else{ %> 
                                                                        <option value="<%= v.year %>"><%= v.year %></option>
                                                                    <% year.push(v.year); } } }) %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Amount</label>
                                                        <div class="col-md-9">
                                                            <input type="number" class="form-control" name="pay_amount" value="" placeholder="Amount" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-9 col-md-offset-3">
                                                        <button class="btn btn-block btn-primary waves-effect waves-light w-xs m-b-5">Payment</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="panel panel-custom panel-border">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title m-t-0 m-b-30 text-center">Members Account Balance</h4>
                                                </div>
                                               <div class="panel-body">                                                   
                                                    <ul class="list-group m-b-0 user-list">
                                                        <% _.each(member_list, function(v,k){%>
                                                            <li class="list-group-item">
                                                                <a href="#" class="user-list-item">
                                                                    <div class="avatar">
                                                                        <img src="/admin_assets/images/users/<%= v.user_img %>" alt="" style="height: 100%">
                                                                    </div>
                                                                    <div class="user-desc">
                                                                        <span class="name"><%= v.user_name %></span>
                                                                        <span class="label label-success">Balance:  <%= v.account %>  Tk. </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        <% }); %>  
                                                    </ul>
                                               </div>
                                            </div>      
                                        </div>
                                    </form>

                                </div><!-- end row -->
                            </div><!-- end col -->
                        </div>
                        <% } %>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-success panel-border">
                                    <div class="panel-heading">
                                        <h3 class="panel-title text-center">Payment Log</h3>                                    
                                    </div>
                                    <div class="panel-body">                                                
                                        <div class="table-rep-plugin">
                                            <div class="table-responsive" data-pattern="priority-columns">
                                                <table id="tech-companies-1" class="table  table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>SL</th>
                                                            <th>Status</th>
                                                            <th>Acount Holder</th>
                                                            <th>Time</th>
                                                            <th>Payment Info</th>
                                                            <th>Amount</th>
                                                            <th style="width:150px">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% var i = 1; _.each(payment_log, function(v,k){%>
                                                            <tr>
                                                                <td><%= i++ %></td>
                                                                <td>Updated By <% _.each(member_list, function(vm,km){ if(vm.user_id == v.creator_id){ %> <%= vm.user_name %> <% }}) %></td>
                                                                <td class="user_name"> <% _.each(member_list, function(vm,km){ if(vm.user_id == v.log_data.payment_user_id){ %> <%= vm.user_name %> <% }}) %></td>
                                                                <td><%= moment(v.created_at,'ddd MMM DD YYYY hh:mm:ss').format('hh:mm a DD-MM-YYYY') %></td>
                                                                <td class="payment_info"><%= v.log_data.payment_info %></td>
                                                                <td><%= v.log_data.amount %></td>
                                                                <td>
                                                                    <span style="width:100%;display:flex;justify-content:center">
                                                                        <button class="btn btn--md btn-info waves-effect waves-light customModal" onclick="editPayment(this)" data_member_id="<%= v.log_data.payment_user_id %>" data-id="<%= v.log_id %>" data-Amount="<%= v.log_data.amount %>"> <i class="fa fa-edit (alias)"></i> </button>
                                                                        <button data_log_id="<%= v.log_id %>" data-log-Amount="<%= v.log_data.amount %>" data_member_id="<%= v.log_data.payment_user_id %>" onclick="deletePayment(this)" class="btn btn-icon waves-effect waves-light btn-danger m-l-5 m-r-5"> <i class="fa fa-remove"></i> </button>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer text-right">
                        <%= footer_name %>.
                    </footer>

            </div>


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>

<div class="test_row row">
    <div id="modal-container">
        <div class="modal-background">
            <div class="modal">
                <div class="modal-header">
                    <h4>Edit Payment</h4>
                    <span class="closeModal">&times;</span><span class="sr-only">Close</span>
                </div>
                <div class="bg-picture card-box" style="margin:0px;">
                    <div class="profile-info-name">
                        <div class="profile-info-detail">
                            <h3 class="profileTitle" class="m-t-0 m-b-0"></h3>
                            <p class="text-muted m-b-20"><i></i></p>

                            <form role="form" class="form">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="user_id" value="">
                                    <input type="hidden" class="form-control" id="payment_id" value="">
                                </div>
                                <div class="form-group">
                                    <label style="float:left" class="text-left control-label">Payment Info</label>
                                    <textarea class="form-control" id="paymentInfo" value=""></textarea>
                                </div>
                                <div class="form-group">
                                    <label style="float:left" class="text-left control-label">Payment Amount</label>
                                    <input type="text" class="form-control" id="paymentAmount" value="">
                                </div>
                            </form>

                            <div class="button-list m-t-20">
                                <button onclick="updatePayment()" style="float:right" type="button" class="btn btn-sm btn-twitter waves-effect waves-light">Update</button>
                                <button onclick="$('.closeModal').trigger('click')" style="float:right" type="button" class="btn btn-facebook btn-sm waves-effect waves-light">Cancel</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sweet Alert js -->
<script src="/admin_assets/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="/admin_assets/pages/jquery.sweet-alert.init.js"></script>

<script>

function editPayment(elm) {
    let id = $(elm).attr('data-id');
    let member_id = $(elm).attr('data_member_id');
    let amount = $(elm).attr('data-amount');
    let details =  $(elm).parents('td').siblings('.payment_info').text();
    let member =  $(elm).parents('td').siblings('.user_name').text();
    $('.profileTitle').text(member);
    $('#payment_id').val(id);
    $('#user_id').val(member_id);
    $('#paymentInfo').val(details);
    $('#paymentAmount').val(amount);
    $('#modal-container').removeAttr('class').addClass('customModal').css('z-index','999');
    $('body').addClass('modal-active');
}

function updatePayment() {
    let data = {
        assign_user_id: $('#user_id').val(),
        log_id:       $('#payment_id').val(),
        payment_info: $('#paymentInfo').val(),
        amount:       $('#paymentAmount').val(),
        type:         'payment',
        c_time: Date.now
    }
    $.ajax({
        type: 'POST',
        url: '/dashboard/updatePayment',
        data: data,
        success: function (res) {
            if (res.msg == 'success') {
                location.reload();
            }
        }
    });
}


function deletePayment(elm){
    let id = $(elm).attr('data_log_id');
    let deleteAmount = $(elm).attr('data-log-Amount');
    let member = $(elm).attr('data_member_id');
    swal({
        title: "Are you sure ?",
        text: "You want to delete this Payment Log ? This cannot be UNDONE !",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: 'btn-danger waves-effect waves-light',
        confirmButtonText: 'Yes!',
        closeOnConfirm: false
    },function(isConfirm){
        if(isConfirm){
            $.ajax({
                type: 'POST',
                url: '/dashboard/deletePayment',
                data: {id:id,amount:deleteAmount,member:member,type:'payment'},
                success: function(res){
                    if(res.msg == 'success'){
                        swal({
                            title:"Delete!", 
                            text:"Succesfully Deleted", 
                            type:"success",
                            showConfirmButton: true
                        },function(res){
                                location.reload();
                        });
                    }
                }
            });
        }
    });
}

$('.closeModal').click(function(){
    $('#modal-container').addClass('out');
    $('body').removeClass('modal-active');
});
</script>
