<%- include('../../layouts/dashboard/head') %>
<%- include('../../layouts/dashboard/topbar') %>
<%- include('../../layouts/dashboard/left_bar') %>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="bg-picture card-box">
                            <div class="profile-info-name">
                                <img src="/admin_assets/images/users/<%= userData.user_img %>" class="img-thumbnail" alt="profile-image">

                                <div class="profile-info-detail">
                                    <h3 class="m-t-0 m-b-0"><%= userData.user_name %></h3>
                                    <p class="text-muted m-b-20"><i><%= userData.user_role %></i></p>
                                    <p id="userBio" contenteditable="false" placeholder="Describe who you are ..."><%= userData.user_bio %> </p>

                                    <div class="button-list m-t-20">
                                        <button type="button" class="btn btn-facebook btn-sm waves-effect waves-light">
                                        <i class="fa fa-facebook"></i>
                                        </button>

                                        <button type="button" class="btn btn-sm btn-twitter waves-effect waves-light">
                                        <i class="fa fa-twitter"></i>
                                        </button>

                                        <button type="button" class="btn btn-sm btn-linkedin waves-effect waves-light">
                                        <i class="fa fa-linkedin"></i>
                                        </button>

                                        <button type="button" class="btn btn-sm btn-dribbble waves-effect waves-light">
                                        <i class="fa fa-dribbble"></i>
                                        </button>

                                        <button style="float:right" type="button" class="btn btn-sm btn-dribbble waves-effect waves-light" href="#custom-modal" data-id="<%= userData.user_id %>" data-animation="door" data-plugin="custommodal" data-overlaySpeed="100" data-overlayColor="#36404a">
                                        <i class="fa fa-edit"> Update Profile </i>
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!--/ meta -->

                        <form method="post" class="card-box">
                            <span class="input-icon icon-right">
                                <textarea rows="2" class="form-control" placeholder="Post a new message"></textarea>
                            </span>
                            <div class="p-t-10 pull-right">
                                <a class="btn btn-sm btn-primary waves-effect waves-light">Send</a>
                            </div>
                            <ul class="nav nav-pills profile-pills m-t-10">
                                <li>
                                    <a href="#"><i class="fa fa-user"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-location-arrow"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class=" fa fa-camera"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-smile-o"></i></a>
                                </li>
                            </ul>
                        </form>
                    </div>

                    <div class="col-sm-4">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>

                            <h4 class="header-title m-t-0 m-b-30">Mess Members</h4>

                            <ul class="list-group m-b-0 user-list">
                                <% _.each(user_data, function(v,k){ if(v.user_id !== userData.user_id){ %>
                                    <li class="list-group-item">
                                        <a href="#" class="user-list-item">
                                            <div style="width:30px;height:30px" class="avatar">
                                                <img style="width:100%;height:100%" src="/admin_assets/images/users/<%= v.user_img %>" alt="">
                                            </div>
                                            <div class="user-desc">
                                                <span class="name"><%= v.user_name %></span>
                                                <span class="desc"><% if(v.user_role == 1){ %>Manager<% }else{ %>Member<% } %></span>
                                            </div>
                                        </a>
                                    </li>
                                <% } }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div id="custom-modal" class="modal-demo">
                <button type="button" class="close" onclick="Custombox.close();">
                    <span>&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="custom-modal-title">Edit Profile</h4>
                <div class="bg-picture card-box">
                    <div class="profile-info-name">                    
                        <label for="updateProPic" class="updateProPic" style="display:unset;cursor:pointer">
                            <img id="e_u_img" src="/admin_assets/images/users/<%= userData.user_img %>" class="img-thumbnail" alt="profile-image">
                            <form id="updateImage" method="POST" enctype="multipart/form-data">
                                <input type="file" data_old="<%= userData.user_img %>" onchange="updateimg(this)" name="profile_pic" id="updateProPic" value="" style="display:none">
                            </form>
                        </label>
                        <div class="profile-info-detail">
                            <h3 class="profileTitle" class="m-t-0 m-b-0"><%= userData.user_name %></h3>
                            <p class="text-muted m-b-20"><i><%= userData.user_role %></i></p>

                            <form role="form">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="e_u_id" value="<%= userData.user_id %>" >
                                    <input type="text" class="form-control" id="e_u_name" name="" value="<%= userData.user_name %>" placeholder="User Name">
                                </div>
                                <div class="form-group">
                                    <!-- <input type="text" class="form-control" id="e_u_phone" name="" value="<%= user_phone %>" placeholder="User Phone Number"> -->
                                    <textarea class="form-control" name="" id="user_bio" placeholder="Describe who you are ..." value="<%= userData.user_bio %>"><%= userData.user_bio %></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="e_u_phone" name="" value="<%= user_phone %>" placeholder="User Phone Number">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="e_old_password" value="" name="" placeholder="Old Password">
                                    <span class="errMsg"></span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="e_new_password" value="" name="" placeholder="New Password">
                                </div>
                            </form>

                            <div class="button-list m-t-20">
                                <button onclick="undateUser()" style="float:right" type="button" class="btn btn-sm btn-twitter waves-effect waves-light">Update</button>
                                <button onclick="Custombox.close();" style="float:right" type="button" class="btn btn-facebook btn-sm waves-effect waves-light">Cancel</button>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div> <!-- content -->

        <footer class="footer text-right">
                <%= footer_name %>.
            </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
<%- include('../../layouts/dashboard/right_bar') %>
<%- include('../../layouts/dashboard/foot') %>

<script>
    function undateUser(elm){
        var data = {
            id: $('#e_u_id').val(),
            name: $('#e_u_name').val(),
            user_bio: $('#user_bio').val(),
            phone: $('#e_u_phone').val(),
            oldPass: $('#e_old_password').val(),
            newPass: $('#e_new_password').val(),
            type:($('#e_old_password').val() == '')? '1':'0'
        }
        $.ajax({
            type: 'POST',
            url: '/dashboard/updateUser',
            data: data,
            success: function(res){
                if(res.msg == 'success'){
                    console.log(res);
                    Custombox.close();
                }else{
                    console.log(res);
                    $('#e_old_password').css('border-color','red');
                    $('#e_old_password + .errMsg').text(res.msg).css('color','red');
                }
            }
        });
    }

    function updateimg(elm){
        var dataF = new FormData($('#updateImage')[0]);

        // data.append('file',$(elm).prop("files")[0]);
        $.ajax({
            method: 'POST',
            url: '/dashboard/profile/updateProPic',
            data: dataF,
            dataType:'json',
            contentType:false,
            processData:false,
            success: function(res){
                if(res.msg == 'success'){
                    $('#e_u_img').attr('src','/admin_assets/images/users/'+res.data.user_img+'');
                }
            }
        });
    }
</script>
