<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured Mess management system.">
        <meta name="author" content="Rich IT">

        <!-- App Favicon -->
        <link rel="shortcut icon" href="/admin_assets/images/favicon.ico">

        <!-- App title -->
        <title><%= title %></title>

        <!-- form Uploads -->
        <link href="/admin_assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />

        <!-- App CSS -->
        <link href="/admin_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="/admin_assets/js/modernizr.min.js"></script>
        <style type="text/css">
            #fileUploadRegister .dropify-wrapper{
                height: 130px;
            }
            #fileUploadRegister .dropify-clear{
                bottom: 10px;
                top: unset;;
            }
        </style>
    </head>
    <body>

        <div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
                <div id="pageLoader">
                        <img src="/admin_assets/images/loader.svg" alt="">
                    </div>
            <div class="text-center">
                <a href="/" class="logo"><span>Sasrayi<span>.com</span></span></a>
                <h5 class="text-muted m-t-0 font-600">2019 © Rich IT.</h5>
            </div>
        	<div class="m-t-40 card-box">
                    <% if(ses_msg !== null){ %>
                        <div class="alert alert-info">
                                <strong>Heads up!</strong> <%= ses_msg %>
                        </div>
                    <%   } %>
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Register</h4>
                </div>
                <div class="panel-body">
         <form class="form-horizontal m-t-20" action="/register" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="user_email">Email address*</label>
                <input type="email" name="user_email" parsley-trigger="change" required="" placeholder="Enter email" class="form-control" id="user_email" data-parsley-id="6">
            </div>
            <div class="form-group">
                <label for="user_name">Your Name*</label>
                <input type="text" name="user_name" parsley-trigger="change" required="" placeholder="Enter Your Name" class="form-control" id="user_name" data-parsley-id="4">
            </div>
            <div class="form-group">
                <label for="messName">Mess Name*</label>
                <input type="text" required id="messName" name="mess_name" class="form-control" placeholder="Enter Mess name">
            </div>
            <div class="form-group">
                <label for="userPhone">Your Phone*</label>
                <input type="text" required id="userPhone" name="phone" class="form-control" placeholder="Phone Number">
            </div>

            <div class="form-group">
                <label for="userPassword">Enter Password</label>
                <input type="password" required id="userPassword" name="password" class="form-control" placeholder="password">
            </div>
            <div class="form-group" id="fileUploadRegister">
                <input type="file" class="dropify" data-default-file="" value="" name="profile_pic" accept="image/*" required>
            </div><!-- end col -->

						<div class="form-group">
							<div class="col-xs-12">
								<div class="checkbox checkbox-custom">
									<input id="checkbox-signup" type="checkbox" checked="checked">
									<label for="checkbox-signup">I accept <a href="#">Terms and Conditions</a></label>
								</div>
							</div>
						</div>

						<div class="form-group text-center m-t-40">
							<div class="col-xs-12">
								<button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
									Register
								</button>
							</div>
						</div>

					</form>

                </div>
            </div>
            <!-- end card-box -->

			<div class="row">
				<div class="col-sm-12 text-center">
					<p class="text-muted">Already have account?<a href="/login" class="text-primary m-l-5"><b>Sign In</b></a></p>
				</div>
			</div>

        </div>
        <!-- end wrapper page -->




    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/admin_assets/js/jquery.min.js"></script>
        <script src="/admin_assets/js/bootstrap.min.js"></script>
        <script src="/admin_assets/js/detect.js"></script>
        <script src="/admin_assets/js/fastclick.js"></script>
        <script src="/admin_assets/js/jquery.slimscroll.js"></script>
        <script src="/admin_assets/js/jquery.blockUI.js"></script>
        <script src="/admin_assets/js/waves.js"></script>
        <script src="/admin_assets/js/wow.min.js"></script>
        <script src="/admin_assets/js/jquery.nicescroll.js"></script>
        <script src="/admin_assets/js/jquery.scrollTo.min.js"></script>
        
        <!-- file uploads js -->
        <script src="/admin_assets/plugins/fileuploads/js/dropify.min.js"></script>

        <!-- App js -->
        <script src="/admin_assets/js/jquery.core.js"></script>
        <script src="/admin_assets/js/jquery.app.js"></script>


        <script type="text/javascript">
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a your image here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (1M max).'
                }
            });
            $(window).load(function() {
                // Animate loader off screen
                $("#pageLoader").fadeOut("slow");;
            });
        </script>

	</body>
</html>
