</div>
<!-- END wrapper -->



<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/admin_assets/js/jquery.min.js"></script>
<script src="/admin_assets/js/bootstrap.min.js"></script>
<script src="/admin_assets/js/detect.js"></script>
<script src="/admin_assets/js/fastclick.js"></script>
<script src="/admin_assets/js/jquery.blockUI.js"></script>
<script src="/admin_assets/js/waves.js"></script>
<script src="/admin_assets/js/jquery.nicescroll.js"></script>
<script src="/admin_assets/js/jquery.slimscroll.js"></script>
<script src="/admin_assets/js/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/admin_assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/admin_assets/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<!-- <script src="/admin_assets/plugins/morris/morris.min.js"></script>
<script src="/admin_assets/plugins/raphael/raphael-min.js"></script> -->

<!-- Dashboard init -->
<!-- <script src="/admin_assets/pages/jquery.dashboard.js"></script> -->
       <!-- Datatables-->
       <script src="/admin_assets/plugins/datatables/jquery.dataTables.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.bootstrap.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.buttons.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/jszip.min.js"></script>
       <script src="/admin_assets/plugins/datatables/pdfmake.min.js"></script>
       <script src="/admin_assets/plugins/datatables/vfs_fonts.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.html5.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.print.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.keyTable.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.responsive.min.js"></script>
       <script src="/admin_assets/plugins/datatables/responsive.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.scroller.min.js"></script>

       <script src="/admin_assets/plugins/switchery/switchery.min.js"></script>

       <!-- Modal-Effect -->
       <script src="/admin_assets/plugins/custombox/dist/custombox.min.js"></script>
       <script src="/admin_assets/plugins/custombox/dist/legacy.min.js"></script>


       <!-- Datatable init js -->
       <script src="/admin_assets/pages/datatables.init.js"></script>
          <!-- file uploads js -->
        <script src="/admin_assets/plugins/fileuploads/js/dropify.min.js"></script>
        <script type="text/javascript">
        var pageTitle = '<%= title %>';
        </script>
<!-- App js -->
<script src="/admin_assets/js/jquery.core.js"></script>
<script src="/admin_assets/js/jquery.app.js"></script>



<script src="/admin_assets/js/custom.js"></script>

 <script src="/admin_assets/plugins/jquery-ui/jquery-ui.min.js"></script>

  <!--form wysiwig js-->
  <script src="/admin_assets/plugins/tinymce/tinymce.min.js"></script>

  <script type="text/javascript" src="/admin_assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
  <script src="/admin_assets/plugins/select2/dist/js/select2.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(".select2").select2();
    $(".select2-limiting").select2({
          maximumSelectionLength: 2
        });
    $(window).load(function() {
          // Animate loader off screen
          $("#pageLoader").fadeOut("slow");
        });
  </script>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7210163045533446",
              enable_page_level_ads: true
         });
    </script>


</body>
</html>
