</div>
<!-- END wrapper -->

 

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/admin_assets/js/jquery.min.js"></script>
<script src="/admin_assets/js/bootstrap.min.js"></script>
<script src="/admin_assets/js/detect.js"></script>
<script src="/admin_assets/js/fastclick.js"></script>
<script src="/admin_assets/js/jquery.blockUI.js"></script>
<script src="/admin_assets/js/waves.js"></script>
<script src="/admin_assets/js/jquery.nicescroll.js"></script>
<script src="/admin_assets/js/jquery.slimscroll.js"></script>
<script src="/admin_assets/js/jquery.scrollTo.min.js"></script>

<!-- KNOB JS -->
<!--[if IE]>
<script type="text/javascript" src="/admin_assets/plugins/jquery-knob/excanvas.js"></script>
<![endif]-->
<script src="/admin_assets/plugins/jquery-knob/jquery.knob.js"></script>

<!--Morris Chart-->
<!-- <script src="/admin_assets/plugins/morris/morris.min.js"></script>
<script src="/admin_assets/plugins/raphael/raphael-min.js"></script> -->

<!-- Dashboard init -->
<!-- <script src="/admin_assets/pages/jquery.dashboard.js"></script> -->
       <!-- Datatables-->
       <script src="/admin_assets/plugins/datatables/jquery.dataTables.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.bootstrap.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.buttons.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/jszip.min.js"></script>
       <script src="/admin_assets/plugins/datatables/pdfmake.min.js"></script>
       <script src="/admin_assets/plugins/datatables/vfs_fonts.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.html5.min.js"></script>
       <script src="/admin_assets/plugins/datatables/buttons.print.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.keyTable.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.responsive.min.js"></script>
       <script src="/admin_assets/plugins/datatables/responsive.bootstrap.min.js"></script>
       <script src="/admin_assets/plugins/datatables/dataTables.scroller.min.js"></script>
       <script src="/admin_assets/js/socket.io.js"></script>
       <script src="/admin_assets/js/socket-client-side.js"></script>

       <script src="/admin_assets/plugins/switchery/switchery.min.js"></script>

       <!-- Modal-Effect -->
       <script src="/admin_assets/plugins/custombox/dist/custombox.min.js"></script>
       <script src="/admin_assets/plugins/custombox/dist/legacy.min.js"></script>


       <!-- Datatable init js -->
       <script src="/admin_assets/pages/datatables.init.js"></script>

       
       <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable( { keys: true } );
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable( { ajax: "/admin_assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
            var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
            
        } );
        TableManageButtons.init();

    </script>
          <!-- file uploads js -->
        <script src="/admin_assets/plugins/fileuploads/js/dropify.min.js"></script>
        <script type="text/javascript">
        var pageTitle = '<%= title %>';
            $('.dropify').dropify({
                messages: {
                    'default': 'Drag and drop a your '+((pageTitle == 'Add-product')? 'feature image' : pageTitle)+' image here or click',
                    'replace': 'Drag and drop or click to replace',
                    'remove': 'Remove',
                    'error': 'Ooops, something wrong appended.'
                },
                error: {
                    'fileSize': 'The file size is too big (1M max).'
                }
            });
        </script>
<!-- App js -->
<script src="/admin_assets/js/jquery.core.js"></script>
<script src="/admin_assets/js/jquery.app.js"></script>

<!-- Toastr js -->
<script src="/admin_assets/plugins/toastr/toastr.min.js"></script>


<script src="/admin_assets/js/custom.js"></script>

 <script src="/admin_assets/plugins/jquery-ui/jquery-ui.min.js"></script>

  <!--form wysiwig js-->
  <script src="/admin_assets/plugins/tinymce/tinymce.min.js"></script>

  <script type="text/javascript" src="/admin_assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>
  <script src="/admin_assets/plugins/select2/dist/js/select2.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(".select2").select2();
    $(".select2-limiting").select2({
          maximumSelectionLength: 2
        });
  </script>
    <script type="text/javascript">
          $(document).ready(function () {
                    tinymce.init({
                        selector: "textarea#product_long_desc,textarea#bazarDetails",
                        theme: "modern",
                        height:100,
                        plugins: [
                            "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                            "save table contextmenu directionality emoticons template paste textcolor"
                        ],
                        toolbar: "styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
                        style_formats: [
                            {title: 'Bold text', inline: 'b'},
                            {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                            {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                            {title: 'Example 1', inline: 'span', classes: 'example1'},
                            {title: 'Example 2', inline: 'span', classes: 'example2'},
                            {title: 'Table styles'},
                            {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                        ]
                    });
            });
  </script>
<!-- PrefixFree -->
<script src="/admin_assets/js/prefixfree-1.0.7.js" type="text/javascript"></script>
<script>

        // Get all the keys from document
        var keys = document.querySelectorAll('#calculator span');
        var operators = ['+', '-', 'x', '÷'];
        var decimalAdded = false;

        // Add onclick event to all the keys and perform operations
        for(var i = 0; i < keys.length; i++) {
            keys[i].onclick = function(e) {
                // Get the input and button values
                var input = document.querySelector('.screen');
                var inputVal = input.innerHTML;
                var btnVal = this.innerHTML;
                
                // Now, just append the key values (btnValue) to the input string and finally use javascript's eval function to get the result
                // If clear key is pressed, erase everything
                if(btnVal == 'C') {
                    input.innerHTML = '';
                    decimalAdded = false;
                }
                
                // If eval key is pressed, calculate and display the result
                else if(btnVal == '=') {
                    var equation = inputVal;
                    var lastChar = equation[equation.length - 1];
                    
                    // Replace all instances of x and ÷ with * and / respectively. This can be done easily using regex and the 'g' tag which will replace all instances of the matched character/substring
                    equation = equation.replace(/x/g, '*').replace(/÷/g, '/');
                    
                    // Final thing left to do is checking the last character of the equation. If it's an operator or a decimal, remove it
                    if(operators.indexOf(lastChar) > -1 || lastChar == '.')
                        equation = equation.replace(/.$/, '');
                    
                    if(equation)
                        input.innerHTML = eval(equation);
                        
                    decimalAdded = false;
                }
                
                // Basic functionality of the calculator is complete. But there are some problems like 
                // 1. No two operators should be added consecutively.
                // 2. The equation shouldn't start from an operator except minus
                // 3. not more than 1 decimal should be there in a number
                
                // We'll fix these issues using some simple checks
                
                // indexOf works only in IE9+
                else if(operators.indexOf(btnVal) > -1) {
                    // Operator is clicked
                    // Get the last character from the equation
                    var lastChar = inputVal[inputVal.length - 1];
                    
                    // Only add operator if input is not empty and there is no operator at the last
                    if(inputVal != '' && operators.indexOf(lastChar) == -1) 
                        input.innerHTML += btnVal;
                    
                    // Allow minus if the string is empty
                    else if(inputVal == '' && btnVal == '-') 
                        input.innerHTML += btnVal;
                    
                    // Replace the last operator (if exists) with the newly pressed operator
                    if(operators.indexOf(lastChar) > -1 && inputVal.length > 1) {
                        // Here, '.' matches any character while $ denotes the end of string, so anything (will be an operator in this case) at the end of string will get replaced by new operator
                        input.innerHTML = inputVal.replace(/.$/, btnVal);
                    }
                    
                    decimalAdded =false;
                }
                
                // Now only the decimal problem is left. We can solve it easily using a flag 'decimalAdded' which we'll set once the decimal is added and prevent more decimals to be added once it's set. It will be reset when an operator, eval or clear key is pressed.
                else if(btnVal == '.') {
                    if(!decimalAdded) {
                        input.innerHTML += btnVal;
                        decimalAdded = true;
                    }
                }
                
                // if any other key is pressed, just append it
                else {
                    input.innerHTML += btnVal;
                }
                
                // prevent page jumps
                e.preventDefault();
            } 
        }

        function minMaxCalculator() {
            if($('#Sas_calculator').hasClass('maximize')){
                $('#Sas_calculator').removeClass('maximize').addClass('minimize');
            }else{
                $('#Sas_calculator').removeClass('minimize').addClass('maximize');
            }
        }
        function minMaxMsg() {
            if($('#userMsg').hasClass('maximize')){
                $('#userMsg').removeClass('maximize').addClass('minimize');
            }else{
                $('#userMsg').removeClass('minimize').addClass('maximize');
            }
        }

        // $(function() {
        //     $("#Sas_calculator").draggable();
        // });
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-7210163045533446",
              enable_page_level_ads: true
         });
    </script>

</body>
</html>
