<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured Mess management system.">
        <meta name="author" content="Rich IT">

        <link rel="shortcut icon" href="/admin_assets/images/favicon.ico">
        <title><%= title %></title>
        <style>
            .user-img img.img-thumbnail{
                height: 100%;
                border-radius: 14px;
            }
        </style>
        <!-- Notification css (Toastr) -->
        <link href="/admin_assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />

        <!--Morris Chart CSS -->
        <script src="/admin_assets/js/moment-with-locales.js"></script>
		<link rel="stylesheet" href="/admin_assets/plugins/morris/morris.css">
        <!-- Sweet Alert css -->
        <link href="/admin_assets/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />

        <link href="/admin_assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/select2/dist/css/select2.css" rel="stylesheet" type="text/css">
        <link href="/admin_assets/plugins/select2/dist/css/select2-bootstrap.css" rel="stylesheet" type="text/css">
    <!-- form Uploads -->
        <link href="/admin_assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
        <!-- Custom box css -->
        <link href="/admin_assets/plugins/custombox/dist/custombox.min.css" rel="stylesheet">

        <!-- DataTables -->
        <link href="/admin_assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

        <!-- App css -->
        <link href="/admin_assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/admin_assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="/admin_assets/js/modernizr.min.js"></script>
        <script>
            var user_id = <%- JSON.stringify(userData.user_id) %>;
            var user_name = <%- JSON.stringify(userData.user_name) %>;
            var user_img = <%- JSON.stringify(userData.user_img) %>;
            var mess_id = <%- JSON.stringify(userData.mess_id)%>

            
            function removeA(arr) {
                var what, a = arguments, L = a.length, ax;
                while (L > 1 && arr.length) {
                    what = a[--L];
                    while ((ax = arr.indexOf(what)) !== -1) {
                        arr.splice(ax, 1);
                    }
                }
                return arr;
            }
        </script>
    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">
                <div id="pageLoader">
                    <img src="/admin_assets/images/loader.svg" alt="">
                </div>
                <div id="Sas_calculator" class="maximize">
                    <div class="cal_header">
                        <h4 class="cal_title">Calculator</h4>
                        <span class="mini_cal" onclick="minMaxCalculator()">
                            <i class="dripicons-chevron-down"></i>
                            <i class="dripicons-chevron-up"></i>
                        </span>
                        <span class="close_cal" onclick="$('#Sas_calculator').hide()"><i class="dripicons-cross"></i></span>
                    </div>
                    <div id="calculator">
                        <!-- Screen and clear key -->
                        <div class="top">
                            <span class="clear">C</span>
                            <div class="screen"></div>
                        </div>
                        
                        <div class="keys">
                            <!-- operators and other keys -->
                            <span>7</span>
                            <span>8</span>
                            <span>9</span>
                            <span class="operator">+</span>
                            <span>4</span>
                            <span>5</span>
                            <span>6</span>
                            <span class="operator">-</span>
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span class="operator">÷</span>
                            <span>0</span>
                            <span>.</span>
                            <span class="eval">=</span>
                            <span class="operator">x</span>
                        </div>
                    </div>
                    
                </div>