
            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <!-- User -->
                    <div class="user-box" style="padding-top:0px; padding-bottom: 5px;">
                        <div class="user-img">
                            <img src="/admin_assets/images/users/<%= userData.user_img %>" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status online"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                        <h5><a href="/dashboard/profile"><%= userData.user_name %></a><br>

                            <a class="btn btn-success waves-effect waves-light btn-xs m-t-5" href="/dashboard/profile"><%= userData.user_role %></a> 
                        </h5>
                        <ul class="list-inline">
                            <li>
                                <a href="/dashboard/profile" >
                                    <i class="fa fa-user-circle-o"></i>
                                </a>
                            </li>

                            <li>
                                <a href="/logout" class="">
                                    <i class="fa fa-sign-out"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End User -->

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <ul>    

                            <li class="<% if(title == 'Dashboard'){ %>active <% } %>" >
                                <a href="/dashboard" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
                            </li>
                            <li class="" >
                                <a href="/dashboard/catering-menu" class="waves-effect"><i class="fa fa-cutlery"></i> <span> Catering Menu </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-calendar-plus-o"></i> <span>Meal</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/dashboard/meal"><i class="fa  fa-plus-circle"></i>Add Meal </a></li>
                                    <li><a href="/dashboard/meal-details"><i class="fa  fa-list-alt"></i>Meal Details</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-shopping-bag"></i> <span>Bazar</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/dashboard/bazar"><i class="fa  fa-plus-circle"></i>Add Bazar</a></li>
                                    <li><a href="/dashboard/bazar-details"><i class="fa  fa-list-alt"></i>Bazar Details</a></li>
                                </ul>
                            </li>
                            <li class="" >
                                <a href="/dashboard/fixed-cost" class="waves-effect"><i class="fa fa-th-list"></i> <span> Fixed Cost </span> </a>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-calculator"></i> <span>Accounts </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/dashboard/payment"><i class="fa  fa-paypal"></i>Payment</a></li>
                                    <li><a href="/dashboard/monthly-calculation"><i class="fa  fa-calendar"></i>Monthly Calculation</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users"></i> <span>Members</span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="/dashboard/member"><i class="fa fa-user-plus"></i>Add Member </a></li>
                                    <li><a href="/dashboard/users"><i class="fa  fa-gear"></i>Manage Member</a></li>
                                </ul>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->
