<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/dashboard" class="logo"><%= mess_name %></span></span><i class="zmdi zmdi-layers"></i></a>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">

            <!-- Page title -->
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button class="button-menu-mobile open-left">
                        <i class="zmdi zmdi-menu"></i>
                    </button>
                </li>
                <li>
                    <h4 class="page-title"><%= title %></h4>
                </li>
            </ul>

            <!-- Right(Notification and Searchbox -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!-- Notification -->
                    <div class="notification-box">
                        <ul class="list-inline m-b-0">
                            <li onclick="$('#Sas_calculator').toggle()">
                                <a href="javascript:void(0);" style="top: -14px;left: 12px;position: absolute;" >
                                    <span class="badge badge-danger" style="font-size: 10px;"></span>
                                </a>
                                <a href="javascript:void(0);" class="right-bar-toggle">
                                    <i style="font-size: 21px;" class="fa fa-calculator"></i>
                                </a>
                            </li>
                            <li class="mmsChat" onclick="toggleMsgBar(event,'open')">
                                <a href="javascript:void(0);" style="top: -14px;left: 12px;position: absolute;">
                                    <span class="badge badge-danger" style="font-size: 10px;" id="allunreadMsgCount"></span>
                                </a>
                                <a href="javascript:void(0);" class="right-bar-toggle">
                                    <i class="fa fa-comments-o"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Notification bar -->
                </li>
                <!-- <li class="hidden-xs">
                    <form role="search" class="app-search">
                        <input type="text" placeholder="Search..."
                               class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li> -->
            </ul>

        </div><!-- end container -->
    </div><!-- end navbar -->
</div>
<!-- Top Bar End -->
